.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
	border: unset !important;
	background: #e9e9e9;
	color: #454545;
}

.ui-datepicker {
	font-family: "Euclid Circular B";
}

.ui-datepicker .ui-state-default:not(.ui-state-active) {
	border: unset !important;
	background: unset;
	color: #454545 !important;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover  {
	border: unset !important;
	background: var(--secondary) !important;
}