.download-doc {
	background-color: var(--light-gray);
	padding: 5%;
	display: flex;
	flex-wrap: wrap;

	&:not(.elenco) {
		> .file {
			flex-basis: calc(100% / 4);
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
	
			@include respond-to($max-tablet) {
				flex-basis: calc(100% / 2);
				margin: 2rem 0;
			}

			.icon {
				margin: 0 0 15px 0;
				width: 32px;
			}

			span {
				flex-basis: 100%;
			}
		}
	}

	&.elenco {
		.file {
			align-items: center;
			flex-basis: calc(90% / 3);
			padding-left: 13%;
			margin: 7px 0;

			@include respond-to($phone-plus) {
				flex-basis: 100%;
			}

			@include respond-to($tablet) {
				flex-basis: calc(90% / 2);
			}
		}
	}

	.file {
		display: flex;
	}

	a:any-link {
		color: var(--secondary);
	}
}

.grid-download-file {
	background-color: var(--light-gray);
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.img-wrap {
		flex-basis: calc(90% / 4);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;

		@include respond-to($phone-plus) {
			flex-basis: 100%;
			margin: 2rem 0;
		}

		@include respond-to($tablet) {
			flex-basis: calc(90% / 2);
			margin: 2rem 0;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
		}

		> div:not(.img) {
			flex-basis: 100%;
			margin-top: 15px;
		}
	}

	a:any-link {
		color: var(--secondary);
	}
}