/** general elements **/

input {
	border: 0;
	padding: 16px;
	border-radius: 6px;
	font-family: inherit;
	font-size: toRem(13);
	font-weight: 500;
	background-repeat: no-repeat;
	background-position: 90% center;

	@include respond-to($phone) {
		padding-left: 13px;
	}

	@include respond-to($max-tablet) {
		padding: 19px;
	}

	&::placeholder {
		opacity: 0.5;
		// padding-left: 27px !important;
	}

	&::-webkit-list-button {
		opacity: 0;
	}

	&:not(.submit) {
		background-color: var(--light-gray);
		color: var(--primary-dark);

		&:not(:first-child) {
			margin-right: 10px;

			@include respond-to($phone) {
				margin-right: 0;
				margin-top: 12px;
			}

			@include respond-to($mid-tablet) {
				margin-right: 0;
			}
		}
	}

	&:not([type="submit"]) {
		@include respond-to($small-phone) {
			padding: 19px 25px 19px 9px !important;
		}
	}

	&:nth-last-child(2) {
		@include respond-to($mini-desktop) {
			margin-top: 16px;
		}
	}

	&:focus-visible {
		outline: none;
	}

	&.departure {
		background-image: url("../../img/icons/icon-take-off.svg");
	}

	&.arrival {
		background-image: url("../../img/icons/icon-landing.svg");
	}

	&.drop {
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.64612 5.74428C4.68366 5.7894 4.73067 5.82571 4.78381 5.85063C4.83695 5.87554 4.89493 5.88846 4.95362 5.88846C5.01232 5.88846 5.07029 5.87554 5.12343 5.85063C5.17658 5.82571 5.22358 5.7894 5.26112 5.74428L9.40612 0.769281C9.45475 0.710894 9.48575 0.639861 9.49548 0.564497C9.50521 0.489134 9.49327 0.412559 9.46106 0.343734C9.42885 0.274909 9.3777 0.216683 9.31361 0.17587C9.24951 0.135058 9.17511 0.113348 9.09912 0.113281H0.807121C0.731132 0.113348 0.656735 0.135058 0.592636 0.17587C0.528538 0.216683 0.47739 0.274909 0.445181 0.343734C0.412972 0.412559 0.401034 0.489134 0.410763 0.564497C0.420493 0.639861 0.451488 0.710894 0.500121 0.769281L4.64612 5.74428Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E%0A");
		max-width: betterClamp(124,190);

		@include respond-to($small-phone) {
			max-width: 87px !important;
		}

		@include respond-to($phone) {
			max-width: 110px;
		}

		@include respond-to($mid-tablet) {
			max-width: 150px;
		}
		
		&::placeholder {
			opacity: 1 !important;
		}

		&.calendar {
			background-position: 91% center;
		}
	}

	&.submit {
		background-color: var(--secondary);
		border: 1px solid var(--secondary);
		color: white;
		text-transform: uppercase;
		padding: 16px 50px;
		font-weight: 400;
		cursor: pointer;

		@include respond-to($phone) {
			margin-top: 10px !important;
		}

		@include respond-to($max-tablet) {
			margin-right: 0;
			margin-top: 12px;
		}

		@include respond-to($mini-desktop) {
			margin-top: 16px;
			margin-right: 10px;
		}
	}

	&[type="date"].calendar {
		min-width: 140px;
	}

	&[type="submit"], select {
		-webkit-appearance: none;
	}

	&[type="checkbox"] {
		padding: 0 !important;
	}
}

select {
	border: 0;
	background-color: white;
	padding: 10px 20px;
	color: col-alpha('primary', 0.5);
	font-size: 13px;
	font-weight: 500;
	font-family: inherit;
}

datalist {
	position: absolute;
	max-height: 20em;
	border: 0 none;
	overflow-x: hidden;
	overflow-y: auto;
	top: 125px;
	width: 39.7%;
	z-index: 999;

	@include respond-to($phone) {
		width: 86%;
		top: 205px;
	}

	&.open {
		display: block;
	}

	option {
		font-size: toRem(14);
		padding: 12px 26px;
		background-color: #f3f3f3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 6px;
		cursor: pointer;
		display: none;

		&:not(:last-child) {
			border-bottom: 1px solid white;
		}

		/* option active styles */
		&:hover,
		&:focus {
			color: #fff;
			background-color: var(--secondary);
			outline: 0 none;
		}

		div p {
			margin: 0;

			&.location {
				opacity: 0.5;
				font-size: toRem(11);
			}
		}
	}
}

.input-wrapper {
	background-color: var(--light-gray);
	border-radius: 6px;
	display: flex;
	align-items: center;
	margin-right: 10px;

	@include respond-to($phone) {
		max-width: 49% !important;
	}

	@include respond-to($max-tablet) {
		margin-right: 0;
		margin-top: 12px;
		max-width: 50%;
	}

	&.--time {
		&::before {
			content: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1202_12840)'%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M15.9849 1.6853C14.3404 0.58649 12.407 0 10.4292 0C7.77793 0.0029116 5.23608 1.05742 3.36135 2.93215C1.48661 4.80688 0.432111 7.34873 0.429199 10C0.429199 11.9778 1.01569 13.9112 2.1145 15.5557C3.21332 17.2002 4.7751 18.4819 6.60237 19.2388C8.42963 19.9957 10.4403 20.1937 12.3801 19.8079C14.3199 19.422 16.1017 18.4696 17.5003 17.0711C18.8988 15.6725 19.8512 13.8907 20.2371 11.9509C20.6229 10.0111 20.4249 8.00043 19.668 6.17317C18.9111 4.3459 17.6294 2.78412 15.9849 1.6853ZM5.70484 2.93051C7.10266 1.99652 8.74605 1.498 10.4272 1.498C12.6806 1.50117 14.8407 2.39773 16.4341 3.9911C18.0275 5.58447 18.924 7.74463 18.9272 9.998C18.9272 11.6791 18.4287 13.3225 17.4947 14.7203C16.5607 16.1182 15.2332 17.2076 13.68 17.851C12.1268 18.4943 10.4178 18.6627 8.76892 18.3347C7.12008 18.0067 5.60553 17.1972 4.41678 16.0084C3.22803 14.8197 2.41849 13.3051 2.09051 11.6563C1.76254 10.0074 1.93087 8.29836 2.57421 6.74519C3.21756 5.19202 4.30702 3.8645 5.70484 2.93051Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3Cpath opacity='0.5' d='M11.0742 4C11.2416 4.00052 11.404 4.05701 11.5355 4.16048C11.6671 4.26396 11.7603 4.40846 11.8002 4.571L11.8172 4.658L11.8232 4.749V10.592C11.8227 10.7594 11.7662 10.9218 11.6627 11.0533C11.5593 11.1849 11.4148 11.2781 11.2522 11.318L11.1652 11.335L11.0742 11.341H7.17922C6.99601 11.3415 6.81899 11.2747 6.68173 11.1534C6.54448 11.032 6.45654 10.8645 6.43459 10.6826C6.41264 10.5007 6.45821 10.3171 6.56265 10.1666C6.66709 10.0161 6.82315 9.9091 7.00122 9.866L7.08822 9.849L7.17922 9.843H10.3242V4.749C10.3244 4.58017 10.3816 4.41635 10.4865 4.28405C10.5914 4.15175 10.7379 4.05872 10.9022 4.02L10.9872 4.005L11.0742 4Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1202_12840'%3E%3Crect width='20' height='20' fill='#{url-friendly-colour($primary-dark)}' transform='translate(0.429199)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			opacity: 0.5;
			margin-left: 10px;

			@include respond-to($max-tablet) {
				margin-left: 13px;
			}
		}
	}

	&.--calendar {
		&::before {
			content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_23_1637)'%3E%3Cpath opacity='0.25' d='M12 18H6C3.175 18 1.757 18 0.878 17.122C-0.000999987 16.244 5.15337e-09 14.824 5.15337e-09 12V7C5.15337e-09 4.175 0 2.758 0.878 1.878C1.547 1.21 2.556 1.056 4.073 1.015C4.238 0.115 4.655 0 5 0C5.509 0 5.793 0.308 5.923 1H12.075C12.205 0.309 12.49 0 12.998 0C13.343 0 13.761 0.115 13.925 1.015C15.442 1.056 16.452 1.215 17.12 1.878C18 2.758 18 4.175 18 7V12C18 14.825 18 16.243 17.122 17.122C16.244 18.001 14.824 18 12 18ZM2 8V12C1.97266 13.0096 2.00337 14.0199 2.092 15.026C2.167 15.581 2.272 15.69 2.292 15.706C2.312 15.722 2.438 15.836 2.974 15.906C3.98003 15.9953 4.99037 16.0267 6 16H12C13.0096 16.0273 14.0199 15.9966 15.026 15.908C15.56 15.836 15.682 15.737 15.706 15.708C15.73 15.679 15.838 15.543 15.906 15.025C15.9953 14.0193 16.0266 13.0093 16 12V8H2ZM4 3.019C3.65729 3.02608 3.31517 3.05078 2.975 3.093C2.42 3.167 2.311 3.272 2.295 3.293C2.279 3.314 2.165 3.439 2.095 3.975C2.02323 4.64752 1.99151 5.32371 2 6H16C16.0103 5.32348 15.9802 4.64694 15.91 3.974C15.838 3.44 15.739 3.318 15.71 3.294C15.681 3.27 15.562 3.164 15.027 3.094C14.6862 3.05138 14.3434 3.02635 14 3.019C14 4.765 13.492 5 13 5C12.508 5 12 4.762 12 3H6C6 4.763 5.494 5 5 5C4.506 5 4 4.765 4 3.019Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_1637'%3E%3Crect width='18' height='18' fill='#{url-friendly-colour($white)}'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			margin-left: 10px;

			@include respond-to($max-tablet) {
				margin-left: 13px;
			}
		}
	}

	> input {
		min-width: 85%;
		width: 100%;

		@include respond-to($phone) {
			padding: 19px !important;
		}

		&:last-child {
			@include respond-to($mini-desktop) {
				margin-top: 0 !important;
			}
		}
	}
}

/**
 * Form search flight:
 *	- Homepage
*/

form#search-flight {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include respond-to($max-mini-desktop) {
		flex-wrap: wrap;
	}

	#change {
		background-image: url("../../img/arrows-change-flight.svg");
		background-repeat: no-repeat;
		background-position: center;
		border: 0;
		background-color: var(--primary-dark);
		width: 32px;
		height: 32px;
		border-radius: 10px;
		margin: 0 -12px 0;
		position: relative;
		cursor: pointer;

		@include respond-to($phone) {
			// position: absolute !important;
			left: 48%;
			transform: rotate(90deg);
			margin-bottom: -25px;
			margin-top: -20px;
		}

		@include respond-to($mid-tablet) {
			margin-top: 13px;
		}
	}

	input {
		flex-basis: calc(100% / 5);

		@include respond-to($phone) {
			flex-basis: 100%;
		}

		@include respond-to($mid-tablet) {
			flex-basis: 43%;
		}

		@include respond-to($mini-desktop) {
			flex-basis: 32%;
		}

		@include respond-to($small-desktop) {
			flex-basis: calc(90% / 5);
		}

		@include respond-to($desktop) {
			flex-basis: calc(96% / 5);
		}

		&:nth-child(2),
		&:nth-child(4) {
			@include respond-to($mid-tablet) {
				flex-basis: 49%;
			}
		}

		&:nth-last-child(2) {
			@include respond-to($phone) {
				max-width: 71%;
			}
		}

		&:last-child:not(:only-child) {
			@include respond-to($max-tablet) {
				flex-basis: 10%;
				font-size: 0;
				padding: 27px;
				background-image: url('../../img/header/cerca.svg');
				background-position: center;
			}
		}
	}
}

/**
 * Form search parking:
 *	- Homepage
 *	- Eshop
*/

form#search-parking {
	@extend #search-flight;

	input {
		flex-basis: calc(100% / 6);
		max-width: 100%;

		@include respond-to($mini-desktop) {
			flex-basis: 32%;
		}

		@include respond-to($small-desktop) {
			flex-basis: calc(90% / 6);
		}

		@include respond-to($desktop) {
			flex-basis: calc(90% / 6);
		}

		&:nth-last-child(2) {
			@include respond-to($mid-tablet) {
				flex-basis: 89%;
				max-width: 100%;
			}
		}

		&.drop {
			@include respond-to($mid-tablet) {
				max-width: 125px;
			}
		}
	}
}



/**
 * Form newsletter:
 *	- Homepage
 *	- Fidelity
 *	- Eshop
*/
#form-newsletter {
	width: 45%;

	@include respond-to($phone-plus) {
		width: 100%;
	}

	@include respond-to($mid-tablet) {
		width: 75%;
	}

	@include respond-to($tablet-pro) {
		width: 73%;
	}

	@include respond-to($mini-desktop) {
		width: 60%;
	}

	input {
		&:not([type="submit"]) {
			background-color: col-alpha('secondary', 0.2);
			color: col-alpha('white', 0.5);
			font-size: toRem(18);
			font-weight: 300;
		}

		&[type="email"] {
			width: 91%;

			@include respond-to($phone-plus) {
				width: 77.7% !important;
			}

			@include respond-to($max-desktop) {
				width: 88.7%;
			}
		}

		&[type="submit"] {
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82913 4.957L0.876133 1.523L2.35413 0L7.21413 4.939L2.34013 10L0.786133 8.4L3.82913 4.957Z' fill='#{url-friendly-colour($white)}'/%3E%3C/svg%3E ");
			background-position: center;
			background-size: 22%;
			padding: 17px 26px;
			float: right;
			margin-left: 4px;
			cursor: pointer;

			@include respond-to($max-tablet) {
				margin-top: 0;
				padding: 20px 28px;
			}

			@include respond-to($min-tablet) {
				margin-top: 0;
			}

			@include respond-to($tablet-pro) {
				margin-top: 0;
			}
		}
	}

	p {
		text-align: center;
	}

	a:any-link {
		color: white;

		@include respond-to($phone-plus) {
			font-weight: 300;
			font-size: toRem(13);
		}
	}
}

/**
 * Form login:
 *	- Eshop
*/
form#fidelity-login-eshop {
	label {
		@include respond-to($phone-plus) {
			font-size: toRem(14);
		}

		input {
			@include respond-to($phone-plus) {
				float: left;
				margin-bottom: 30px;
				margin-right: 6px;
			}
		}
	}
}

/**
 * Form quantity:
 *	- Eshop
*/
form#quantity {
	@extend #search-flight;

	input {
		flex-basis: 49.5%;
		max-width: 100%;

		@include respond-to($phone) {
			flex-basis: 100%;
			margin: 0 !important;
		}

		@include respond-to($mid-tablet) {
			flex-basis: 87%;
			margin: 0 !important;
		}
	}
}

/**
 * Form insert data for services:
 *	- Eshop
*/
form#insert-data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	input:not([type="submit"]) {
		flex-basis: calc(98% / 3);
		margin-bottom: 12px;
		background-color: white;

		@include respond-to($phone) {
			flex-basis: 100% !important;
			max-width: 100% !important;
			margin-bottom: 0;
		}

		@include respond-to($mid-tablet) {
			flex-basis: 33% !important;
			max-width: 32.6% !important;
		}

		@include respond-to($not-mobile) {
			margin-right: 0;
		}

		&#cap, &#citta {
			flex-basis: 16% !important;
			width: 16% !important;

			@include respond-to($phone) {
				flex-basis: 100% !important;
				max-width: 100% !important;
			}
		}
	}

	select {
		margin-bottom: 12px;
		background-color: white;
		flex-basis: calc(98% / 3);

		@include respond-to($phone) {
			border-radius: 6px;
			margin-top: 12px;
			padding: 20px 9px;
		}

		@include respond-to($mid-tablet) {
			flex-basis: 32.667%;
			max-width: 32%;
		}
	}

	.invoice-fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;

		> input, select {
			flex-basis: calc(98% / 3) !important;

			@include respond-to($phone) {
				flex-basis: 100% !important;
				max-width: 100% !important;
			}
		}

		#azienda {
			flex-basis: 100% !important;

			@include respond-to($phone) {
				flex-basis: 100% !important;
				max-width: 100% !important;
			}
		}

		#email-pec, #destinatario {
			flex-basis: calc(99% / 2) !important;

			@include respond-to($phone) {
				flex-basis: 100% !important;
				max-width: 100% !important;
			}
		}

		.shipping-fields {
			@extend .invoice-fields;
			width: 100%;

			#indirizzo-spedizione {
				flex-basis: calc(99.5% / 1.5) !important;

				@include respond-to($phone) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				@include respond-to($mid-tablet) {
					flex-basis: 49.333% !important;
					max-width: 50% !important;
				}
			}

			
			#numero-spedizione {
				flex-basis: calc(98% / 3);

				@include respond-to($phone) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				@include respond-to($mid-tablet) {
					flex-basis: 49.333% !important;
					max-width: 50% !important;
				}
			}
		}
	}

	.data-footer {
		@include respond-to($phone) {
			flex-wrap: wrap;
		}

		> div {
			flex-basis: 40%;

			@include respond-to($phone) {
				flex-basis: 100%;
			}
		}

		.data-info {
			p {
				font-size: toRem(26);
			}

			ul li {
				font-size: toRem(14);
			}
		}

		.data-consent {
			display: flex;
			flex-wrap: wrap;
			margin: 32px 0 45px;
			font-size: toRem(14);

			label:not(:first-child) input {
				@include respond-to($phone) {
					margin-bottom: 70px;
				}
			}

			input {
				display: block;
				float: left;
				margin-right: 10px;
				margin-bottom: 30px;
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 100%;

		@include respond-to($phone) {
			flex-wrap: wrap;
		}

		> a, input {
			flex-basis: calc(98% / 2);

			@include respond-to($phone) {
				flex-basis: 100%;
			}
		}
	}
}
