#pagetitle {
	padding: 64px 10%;

	@include respond-to($max-tablet) {
		background-color: var(--primary-dark);
		color: rgba(255,255,255,0.8);
		padding: 40px 15px;
	}

	@include respond-to($mini-desktop) {
		padding: 64px betterClamp(16,85,1024,1280);
		background-position: right top;
	}

	@include respond-to($min-tablet) {
		background-size: contain;
		background-position: right center;
		background-repeat: no-repeat;
	}

	&.fidelity {
		@include respond-to($min-tablet) {
			background-image: linear-gradient(90deg, rgba(255,255,255,1) -100%, rgba(1,17,44,0) 60%), url("../../img/fidelity/fidelity-main.png");
		}
	}

	&.voli-diretti {
		@include respond-to($min-tablet) {
			background-image: linear-gradient(90deg, rgba(1,17,44,1) -100%, rgba(1,17,44,0) 60%), url("../../img/voli-diretti-pt-bg.png");
		}
	}

	&.info-parcheggi {
		@include respond-to($min-tablet) {
			background-image: linear-gradient(90deg, rgba(1,17,44,1) -100%, rgba(1,17,44,0) 60%), url("../../img/posto-auto-bg.png");
		}
	}

	&.negozi {
		@include respond-to($min-tablet) {
			background-image: linear-gradient(90deg, rgba(1,17,44,1) -100%, rgba(1,17,44,0) 60%), url("../../img/shop-pt-bg.png");
		}
	}

	&.in-partenza {
		@include respond-to($min-tablet) {
			background-image: linear-gradient(90deg, rgba(1,17,44,1) -100%, rgba(1,17,44,0) 60%), url("../../img/in-partenza/in-partenza-pt-bg.png");
		}
	}

	&.news {
		@include respond-to($min-tablet) {
			background-image: linear-gradient(90deg, rgba(1,17,44,1) -100%, rgba(1,17,44,0) 60%), url("../../img/news-pt-bg.png");
		}
	}

	&.dark-mode {
		background-color: var(--primary-dark);
		padding: 50px 10%;

		@include respond-to($max-tablet) {
			padding: 30px 5%;
		}

		h1 {
			color: white !important;
			margin-bottom: 0;

			@include respond-to($max-tablet) {
				font-size: toRem(35);
			}
		}
	}

	.page-description {
		@include respond-to($max-tablet) {
			line-height: toRem(26);
		}
	}

	.col {
		@include respond-to($mini-desktop) {
			width: 55%;
		}

		@include respond-to($min-desktop) {
			width: 50%;
		}

		> p {
			color: white;
			font-size: toRem(22);
		}
	}

	.row.buttons {
		margin-top: 50px;
		width: 80%;

		@include respond-to($phone-plus) {
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
		}

		.button {
			flex-basis: 46%;
			max-width: 50%;

			@include respond-to($phone-plus) {
				flex-basis: 80%;
				max-width: 80%;
			}

			&:first-child {
				@include respond-to($phone-plus) {
					margin-bottom: 10px;
				}

				@include respond-to($min-phone) {
					margin-right: 30px;
				}
			}
		}
	}

	.button.secondary {

		@include respond-to($max-tablet) {
			color: white;
		}
	}

	.button.border-only {
		@include respond-to($max-tablet) {
			color: white;
		}
	}

	.forms-tab {
		padding: 45px 5%;

		@include respond-to($phone) {
			padding: 45px 0 0;
		}

		#tab-voli .main-tabs .tabs > div {
			@include respond-to($phone) {
				font-size: toRem(18);
			}
		}

		input {
			@include respond-to($tablet) {
				flex-basis: 43%;
			}

			@include respond-to($mini-desktop) {
				// flex-basis: 47.9%;
				flex-basis: 31.3%;
				margin-top: 12px;
			}

			@include respond-to($small-desktop) {
				flex-basis: 10%;
				max-width: 15%;
			}

			@include respond-to($desktop) {
				flex-basis: 10%;
				max-width: 15%;
			}

			&.departure {
				@include respond-to($mini-desktop) {
					flex-basis: 49%;
					max-width: 49%;
					margin-right: -10px;
				}

				@include respond-to($small-desktop) {
					flex-basis: 25%;
					max-width: 25%;
					margin-right: -10px;
				}

				@include respond-to($desktop) {
					flex-basis: 25%;
					max-width: 25%;
					margin-right: -10px;
				}
			}

			&.arrival {
				@include respond-to($mini-desktop) {
					flex-basis: 49%;
					max-width: 49%;
					margin-left: -6px;
				}

				@include respond-to($small-desktop) {
					flex-basis: 25%;
					max-width: 25%;
					margin-left: -6px;
				}

				@include respond-to($desktop) {
					flex-basis: 25%;
					max-width: 25%;
					margin-left: -6px;
				}
			}

			&.submit {
				@include respond-to($tablet) {
					flex-basis: 98.5%;
					margin-top: 12px;
				}

				@include respond-to($mini-desktop) {
					flex-basis: 32.8%;
				}

				@include respond-to($small-desktop) {
					padding: 16px 25px;
				}

				@include respond-to($desktop) {
					padding: 16px 30px;
					flex-basis: 16.2%;
				}
			}
		}
	}
}