/* tabs V2 */
.tabs-v2 {

	> .tabs {
		list-style: none;
		padding: 0;

		@include respond-to($phone-plus) {
			width: 100%;
			flex-wrap: wrap;
		}

		> .desk-tabs-title {
			display: flex;
			margin: auto;
			width: 70%;

			@include respond-to($phone) {
				display: none;
			}

			@include respond-to($small-tablet) {
				width: 80%;
			}
		}

		> li,
		> .desk-tabs-title > li {
			flex-basis: 100%;
			text-align: center;
			border-bottom: 3px solid var(--primary-dark);
			padding: 10px 0;
			font-size: toRem(22);
			font-weight: 500;
			cursor: pointer;

			@include respond-to($phone-plus) {
				flex-basis: 100%;
				text-align: left;
				padding: 18px 13px;
				border-bottom: 2px solid col-alpha('primary', 0.2);
			}

			&:not(:first-child, :last-child) {
				@include respond-to($min-phone) {
					margin: 0 5px;
				}
			}

			&:not(.active) {
				@include respond-to($min-phone) {
					opacity: 0.3;
				}
			}

			&.active {
				> a::after {
					transform: rotate(180deg) translateY(-5px);
				}
			}

			> a {
				@include respond-to($phone-plus) {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				@include respond-to($small-tablet) {
					justify-content: center !important;
				}

				&::after {
					@include respond-to($phone) {
						content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E");
						transform: translateY(-3px);
					}
				}
			}
		}

		> li {
			@include respond-to($not-mobile) {
				display: none;
			}
		}
	}

	&-content {
		margin: 50px auto;

		.slick-track {
			@include respond-to($max-tablet) {
				display: flex;
			}

			> div:first-child {
				margin-left: 15vw;

				@include respond-to($phone-plus) {
					margin-left: 0;
				}
			}
		}

		.slick-slide {
			background-color: var(--light-blue);
			border-radius: 12px;

			@include respond-to($phone) {
				margin-right: 20px;
			}

			@include respond-to($mid-tablet) {
				margin-right: 25px;
				min-width: 16%;
			}

			@include respond-to($min-tablet) {
				margin-right: betterClamp(40,70);
				min-width: 15%;
			}
		}

		.slide {
			text-align: center;
			padding: 20px betterClamp(20,50);

			@include respond-to($phone-plus) {
				padding: 20px;
			}

			.title {
				font-size: toRem(18);
				font-weight: 500;
				margin: 10px auto 40px;
			}

			img {
				width: 95%;
				margin: auto;

				@include respond-to($phone-plus) {
					width: 100%;
				}

				@include respond-to($desktop) {
					width: 85%;
				}
			}

			.description {
				font-size: toRem(13);
				text-align: center;
				margin: 40px auto 0;
			}
		}

		.slick-arrow {
			background-color: rgba(0,0,0,0.35);
			border-radius: 50%;
			padding: 15px 16px 10px;
			backdrop-filter: blur(8px);
			position: absolute;
			z-index: 9;
			top: 35%;
			cursor: pointer;
			transition: all 0.3s ease;

			@include respond-to($max-tablet) {
				display: none !important;
			}

			&.prev {
				transform: rotate(-180deg);
				left: 6%;
			}

			&.next {
				right: 6%;
			}

			&.slick-disabled {
				opacity: 0;
			}
		}
	}
}

/* tabs V3 */
.tabs-v3 {

	> .tabs {
		list-style: none;
		padding: 0;

		@include respond-to($phone-plus) {
			width: 100%;
			flex-wrap: wrap;
		}

		> .desk-tabs-title {
			display: flex;
			justify-content: flex-start;

			@include respond-to($phone) {
				display: none;
			}

			li {
				border-width: 1px 0 1px 1px;
				border-color: var(--medium-gray);
				border-style: solid;
				padding: 10px 20px;

				&:first-child {
					border-radius: $radius 0 0 0;
				}

				&:last-child {
					border-radius: 0 $radius 0 0;
					border-right: 1px solid var(--medium-gray);
				}

				&.active {
					background-color: var(--light-gray);
					border-color: var(--light-gray);
					border-bottom: 0;
					cursor: default;
				}

				&:not(.active) {
					cursor: pointer;

					&:hover {
						background-color: var(--secondary);
						color: white;
					}
				}
			}
		}

		li {
			font-size: toRem(18);

			.step {
				font-size: toRem(22);
				font-weight: 600;
			}
		}

		> li {
			font-size: 17px;
			margin: 10px 10px 0;
			background-color: var(--light-gray);
			padding: 12px 12px 10px;

			@include respond-to($not-mobile) {
				display: none;
			}

			&:not(.active) {
				display: none;
			}

			> a {
				@include respond-to($phone-plus) {
					display: flex;
					align-items: flex-end;
				}

				.step {
					margin-right: 8px;
				}
			}
		}
	}

	&-content {
		background-color: var(--light-gray);
		border-radius: 0 $radius $radius $radius;
		padding: 32px;

		@include respond-to($phone) {
			border-radius: 0;
			padding: 0 15px 15px;
			margin: 0 10px 15px;
		}

		@include respond-to($mid-tablet) {
			margin: 0;
			padding: 15px;
		}

		.input-wrapper, input:not([type="submit"]) {
			background-color: white !important;
		}

		form#search-parking {
			flex-wrap: wrap;

			.input-wrapper {
				margin-right: 0;
				flex-basis: calc(97% / 4);
				margin-bottom: 12px;

				@include respond-to($phone-plus) {
					flex-basis: 100%;
					max-width: 100% !important;
					margin-bottom: 0;
				}

				@include respond-to($mid-tablet) {
					flex-basis: calc(99% / 2);
				}

				.drop {
					@include respond-to($phone-plus) {
						max-width: 100% !important;
					}
				}
			}

			> input {
				flex-basis: calc(99% / 2) !important;

				@include respond-to($phone-plus) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				@include respond-to($mid-tablet) {
					flex-basis: calc(97% / 2);
				}
			}
		}
	}
}

#tab-voli {
	flex-basis: 80%;
	background-color: rgba(1,17,44,10%);
	backdrop-filter: blur(10px);
	border-radius: $radius;
	z-index: 99;

	@include respond-to($phone) {
		margin-bottom: 3em;
	}

	@include respond-to($max-mini-desktop) {
		flex-basis: 90%;
	}

	&.in-pagetitle {
		background-color: rgba(12, 153, 193, 0.18);
	}

	.main-tabs {
		display: flex;
		justify-content: space-between;
		border-radius: $radius $radius 0 0;

		@include respond-to($phone) {
			flex-wrap: wrap;
		}

		.tabs {
			display: flex;
			flex-basis: 50%;

			@include respond-to($phone) {
				order: 2;
				flex-basis: 100%;
			}

			@include respond-to($small-tablet) {
				flex-basis: 60%;
			}

			> div {
				display: flex;
				align-items: center;
				font-size: toRem(20);
				padding: 13px 20px;
				cursor: pointer;

				@include respond-to($phone) {
					font-size: toRem(12);
					padding: 16px 20px 16px 15px;
					flex-basis: 50%;
				}

				@include respond-to($mid-tablet) {
					font-size: toRem(16);
				}
				
				&:first-child.active {
					@include respond-to($mid-tablet) {
						border-top-left-radius: 12px;
					}

					@include respond-to($min-tablet) {
						border-top-left-radius: 12px;
					}
				}
			
				&.active {
					background-color: white;
					color: var(--primary-dark);

					@include respond-to($min-tablet) {
						padding-right: 30px;
					}
				}

				&:not(.active) {
					color: white;

					&:last-child {
						@include respond-to($not-mobile) {
							border-right: 1px solid rgba(255, 255, 255, 30%);
						}
					}

					.icon {
						opacity: 0.7;
					}
				}
			}
		}

		.extra {
			flex-basis: 25%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			color: white;
			padding-right: 25px;

			@include respond-to($phone) {
				order: 1;
				flex-basis: 100%;
				padding: 18px;
			}

			@include respond-to($mid-tablet) {
				flex-basis: 46%;
			}

			> div {
				flex-basis: 50%;
				justify-content: center;
			}

			.hour {
				display: flex;
				align-items: center;
			}

			.meteo {
				@extend .hour;
				border-left: 1px solid rgba(255, 255, 255, 23%);

				&::before {
					content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1123_6093)'%3E%3Cpath opacity='0.09' d='M24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12Z' fill='#{url-friendly-colour($white)}'/%3E%3Cpath d='M14.8309 12.3072C14.876 12.2697 14.9123 12.2227 14.9372 12.1696C14.9622 12.1164 14.9751 12.0584 14.9751 11.9997C14.9751 11.9411 14.9622 11.8831 14.9372 11.8299C14.9123 11.7768 14.876 11.7298 14.8309 11.6922L11.0559 8.54725C10.9975 8.49862 10.9265 8.46762 10.8511 8.45789C10.7758 8.44816 10.6992 8.4601 10.6304 8.49231C10.5615 8.52452 10.5033 8.57566 10.4625 8.63976C10.4217 8.70386 10.4 8.77826 10.3999 8.85425V15.1462C10.4 15.2222 10.4217 15.2966 10.4625 15.3607C10.5033 15.4248 10.5615 15.476 10.6304 15.5082C10.6992 15.5404 10.7758 15.5523 10.8511 15.5426C10.9265 15.5329 10.9975 15.5019 11.0559 15.4532L14.8309 12.3072Z' fill='#{url-friendly-colour($white)}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1123_6093'%3E%3Crect width='24' height='24' fill='#{url-friendly-colour($white)}'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
					transform: scaleX(-1);
					margin: 0 15px;
				}
			}
		}
	}

	.main-tabs-content {
		background-color: white;
		border-radius: 0 $radius $radius;

		@include respond-to($phone) {
			border-radius: 0 0 $radius $radius;
		}

		> div {
			padding: 24px;
		}
	}
}