/* tabs V2 */
.tabs-v2 {

	> .tabs {
		list-style: none;
		padding: 0;

		@include respond-to($phone-plus) {
			width: 100%;
			flex-wrap: wrap;
		}

		> .desk-tabs-title {
			display: flex;
			margin: auto;
			width: 70%;

			@include respond-to($phone) {
				display: none;
			}
		}

		> li,
		> .desk-tabs-title > li {
			flex-basis: 100%;
			text-align: center;
			border-bottom: 3px solid var(--primary-dark);
			padding: 10px 0;
			font-size: toRem(22);
			font-weight: 500;
			cursor: pointer;

			@include respond-to($phone-plus) {
				flex-basis: 100%;
				text-align: left;
				padding: 18px 13px;
				border-bottom: 2px solid col-alpha('primary', 0.2);
			}

			&:not(:first-child, :last-child) {
				@include respond-to($min-phone) {
					margin: 0 5px;
				}
			}

			&:not(.active) {
				@include respond-to($min-phone) {
					opacity: 0.3;
				}
			}

			&.active {
				> a::after {
					transform: rotate(180deg) translateY(-5px);
				}
			}

			> a {
				@include respond-to($phone-plus) {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&::after {
					@include respond-to($phone) {
						content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E");
						transform: translateY(-3px);
					}
				}
			}
		}

		> li {
			@include respond-to($not-mobile) {
				display: none;
			}
		}
	}

	&-content {
		margin: 50px auto;

		.slick-track {
			@include respond-to($max-tablet) {
				display: flex;
			}

			> div:first-child {
				margin-left: 15vw;

				@include respond-to($phone-plus) {
					margin-left: 0;
				}
			}
		}

		.slick-slide {
			background-color: var(--light-blue);
			border-radius: 12px;

			@include respond-to($phone) {
				margin-right: 20px;
			}

			@include respond-to($mid-tablet) {
				margin-right: 25px;
				min-width: 16%;
			}

			@include respond-to($min-tablet) {
				margin-right: betterClamp(40,70);
				min-width: 15%;
			}
		}

		.slide {
			text-align: center;
			padding: 20px betterClamp(20,50);

			@include respond-to($phone-plus) {
				padding: 20px;
			}

			.title {
				font-size: toRem(18);
				font-weight: 500;
				margin: 10px auto 40px;
			}

			img {
				width: 95%;
				margin: auto;

				@include respond-to($phone-plus) {
					width: 100%;
				}

				@include respond-to($desktop) {
					width: 85%;
				}
			}

			.description {
				font-size: toRem(13);
				text-align: center;
				margin: 40px auto 0;
			}
		}

		.slick-arrow {
			background-color: rgba(0,0,0,0.35);
			border-radius: 50%;
			padding: 15px 16px 10px;
			backdrop-filter: blur(8px);
			position: absolute;
			z-index: 9;
			top: 35%;
			cursor: pointer;
			transition: all 0.3s ease;

			@include respond-to($max-tablet) {
				display: none !important;
			}

			&.prev {
				transform: rotate(-180deg);
				left: 6%;
			}

			&.next {
				right: 6%;
			}

			&.slick-disabled {
				opacity: 0;
			}
		}
	}
}

/* tabs V3 */
.tabs-v3 {

	> .tabs {
		list-style: none;
		padding: 0;

		@include respond-to($phone-plus) {
			width: 100%;
			flex-wrap: wrap;
		}

		> .desk-tabs-title {
			display: flex;
			justify-content: flex-start;

			@include respond-to($phone) {
				display: none;
			}

			li {
				border-width: 1px 0 1px 1px;
				border-color: var(--medium-gray);
				border-style: solid;
				padding: 10px 20px;

				&:first-child {
					border-radius: $radius 0 0 0;
				}

				&:last-child {
					border-radius: 0 $radius 0 0;
					border-right: 1px solid var(--medium-gray);
				}

				&.active {
					background-color: var(--light-gray);
					border-color: var(--light-gray);
					border-bottom: 0;
					cursor: default;
				}

				&:not(.active) {
					cursor: pointer;

					&:hover {
						background-color: var(--secondary);
						color: white;
					}
				}
			}
		}

		li {
			font-size: toRem(18);

			.step {
				font-size: toRem(22);
				font-weight: 600;
			}
		}

		> li {
			font-size: 17px;
			margin: 10px 10px 0;
			background-color: var(--light-gray);
			padding: 12px 12px 10px;

			@include respond-to($not-mobile) {
				display: none;
			}

			&:not(.active) {
				display: none;
			}

			> a {
				@include respond-to($phone-plus) {
					display: flex;
					align-items: flex-end;
				}

				.step {
					margin-right: 8px;
				}
			}
		}
	}

	&-content {
		background-color: var(--light-gray);
		border-radius: 0 $radius $radius $radius;
		padding: 32px;

		@include respond-to($phone) {
			border-radius: 0;
			padding: 0 15px 15px;
			margin: 0 10px 15px;
		}

		@include respond-to($mid-tablet) {
			margin: 0;
			padding: 15px;
		}

		.input-wrapper, input:not([type="submit"]) {
			background-color: white !important;
		}

		form#search-parking {
			flex-wrap: wrap;

			.input-wrapper {
				margin-right: 0;
				flex-basis: calc(97% / 4);
				margin-bottom: 12px;

				@include respond-to($phone-plus) {
					flex-basis: 100%;
					max-width: 100% !important;
					margin-bottom: 0;
				}

				@include respond-to($mid-tablet) {
					flex-basis: calc(97% / 2);
				}

				.drop {
					@include respond-to($phone-plus) {
						max-width: 100% !important;
					}
				}
			}

			> input {
				flex-basis: calc(99% / 2) !important;

				@include respond-to($phone-plus) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				@include respond-to($mid-tablet) {
					flex-basis: calc(97% / 2);
				}
			}
		}
	}
}