section#eshop-services {

	@include respond-to($phone) {
		margin: 0 auto;
	}

	@include respond-to($mid-tablet) {
		margin: 2em auto;
		width: 95%;
	}

	@include respond-to($mini-desktop) {
		margin: 3em auto;
		width: 90%;
	}

	@include respond-to($min-desktop) {
		width: 75% !important;
		margin: 3em auto;
	}

	/** icons custom
	 * differs in mobile style form general big icons across the templates
	 */

	 .item-icon {
		@include respond-to($phone) {
			flex-wrap: nowrap;
		}
	
		.img-wrap {
			@include respond-to($phone) {
				width: 40px !important;
				height: 40px !important;
				display: flex;
				align-items: center;
				background-color: transparent;
				padding: 0;
				border-radius: 0;
				min-width: auto !important;
			}
	
			@include respond-to($min-tablet) {
				background-color: var(--light-blue);
				padding: 30px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
	
			@include respond-to($mini-desktop) {
				min-width: 145px;
				min-height: 100px;
			}
	
			@include respond-to($min-desktop) {
				min-width: 150px;
				min-height: 150px;
			}
	
			img {
				width: 100%;
				max-height: 75px;

				@include respond-to($phone) {
					width: 40px;
				}
			}
		}
	
		.title {
			@include respond-to($phone) {
				margin: 0;
				align-items: center;
				display: flex;
				margin-left: 15px;
				font-size: toRem(18);
			}
		}
	}

	.tabs-v2 {
		
		> .tabs {
			@include respond-to($max-tablet) {
				margin: 0;
			}

			> .desk-tabs-title {
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
				margin: 32px auto 80px;

				li {
					flex-basis: calc(95% / 3);
					border-bottom: 0;

					&:not(.active) {
						opacity: 1;
					}

					&.active {
						.img-wrap {
							background-color: #BCCFFF;
						}
					}
				}
			}

			/* mobile */
			> li {
				padding: 10px 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@include respond-to($min-tablet) {
					display: none;
				}

				&:not(.active)::after {
					@include respond-to($max-tablet) {
						content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E");
						transform: rotate(-90deg) translateY(-6px);
					}
				}

				&.active {
					@include respond-to($max-tablet) {
						background-color: rgba(2,73,148,0.15);
						border-top: 1px solid rgba(1,17,44,0.3);
					}
				}
			}
		}

		&-content {
			margin: 32px 0;

			@include respond-to($max-tablet) {
				margin: 15px 0;
			}

			h3 {
				display: flex;
				align-items: flex-end;
				font-size: toRem(40);
				font-weight: 500;

				@include respond-to($max-tablet) {
					align-items: center;
					font-size: toRem(20);
					margin: 0 30px 13px;
				}

				img {
					max-width: 60px;
					margin-right: 30px;

					@include respond-to($max-tablet) {
						max-width: 35px;
						margin-right: 13px;
					}
				}
			}
		}
	}

	.tabs-v3 {
		li {
			&:not(.active) {
				cursor: auto;
				pointer-events: none;
			}

			a {
				@include respond-to($max-tablet) {
					font-size: toRem(20);
				}
			}
		}

		.internal-login {
			display: flex;
			align-items: center;

			@include respond-to($phone-plus) {
				flex-wrap: wrap;
			}

			input, a {
				flex-basis: calc(98% / 4);

				@include respond-to($phone-plus) {
					flex-basis: 100%;
					max-width: 100% !important;
					margin-right: 0 !important;
				}
			}

			input {
				margin-right: 10px;

				@include respond-to($small-tablet) {
					margin-bottom: 12px;
				}

				@include respond-to($min-tablet) {
					margin-top: 0;
				}
			}

			i {
				@include respond-to($small-tablet) {
					position: absolute;
					right: 25px;
					margin-top: -78px;
				}
			}

			.button.secondary:not(input) {
	
				@include respond-to($phone) {
					margin-top: 12px;
				}

				@include respond-to($mid-tablet) {
					padding: 16px 25px;
				}

				@include respond-to($min-desktop) {
					padding: 14px 15px;
					margin-left: 10px;
				}
			}

			.submit {
				@include respond-to($tablet) {
					margin-top: 0;
				}
			}
		}

		.link.pass-recovery {
			width: 100%;
			display: block;
			margin: 27px 0;
			text-decoration: none;
		}

		input.submit {
			@include respond-to($max-tablet) {
				background-image: none !important;
				font-size: 1rem;
				padding: 15px;
			}

			@include respond-to($min-tablet) {
				margin-right: 0;
			}

			@include respond-to($td) {
				margin-top: 0 !important;
			}
		}

		input.drop {
			@include respond-to($max-tablet) {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}

	#lightbox-map {
		font-size: toRem(22);
		padding: 20px;
		margin-bottom: 3em;
		background-color: white !important;

		@include respond-to($phone) {
			font-size: toRem(14);
			padding: 15px 5px;
			display: flex;
			align-items: center;
		}
	}

	form#search-parking {
		input {
			margin-right: 0;
			flex-basis: 100%;
		}

		.input-wrapper {
			@include respond-to($td) {
				margin-bottom: 0;
			}
		}
	}

	#buy-parking,
	#buy-gold-card,
	.buy-service {
		.header {
			align-items: center;
			margin-bottom: 4em;

			@include respond-to($phone-plus) {
				flex-wrap: wrap;
				padding: 0 15px;
				justify-content: center;
			}

			h2 {
				text-align: left;
				margin: 0;

				@include respond-to($phone-plus) {
					font-size: toRem(24);
				}
			}

			#orderby {
				border: 0;
				background-color: var(--light-gray);
				border-radius: 6px;
				padding: 10px 20px;
				font-size: toRem(14);

				@include respond-to($phone-plus) {
					margin-top: 2em;
				}	
			}
		}

		> .row {
			position: relative;

			@include respond-to($max-tablet) {
				flex-wrap: wrap;
			}

			.col:first-child {
				flex-basis: 73%;

				@include respond-to($max-tablet) {
					flex-basis: 100%;
				}

				@include respond-to($td) {
					flex-basis: 73%;
				}
			}

			.col.cart {
				flex-basis: 22%;
				margin-top: 45px;

				@include respond-to($max-tablet) {
					flex-basis: 100%;
					position: fixed;
					bottom: 0;
					left: 0;
					background: #fff;
					width: 100%;
					z-index: 9999999;
				}

				// @include respond-to($mid-tablet) {
				// 	flex-basis: 40%;
				// }

				@include respond-to($td) {
					flex-basis: 22%;
				}

				.cart-wrap {
					position: sticky;
					position: -webkit-sticky;
					top: 45px;

					@include respond-to($min-tablet) {
						top: 125px;
					}

					> h3 {
						margin: 13px 0px;

						@include respond-to($max-tablet) {
							margin: 13px 30px;
						}
	
						span {
							margin-left: 12px;
							background: var(--secondary);
							color: white;
							width: 27px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							font-size: 13px;
							height: 27px;
							align-items: center;
						}

						.open-cart {
							@include respond-to($max-tablet) {
								content: url("data:image/svg+xml,%3Csvg width=%2712%27 height=%2710%27 viewBox=%270 0 10 8%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z%27 fill=%27%2301112C%27/%3E%3C/svg%3E");
								position: absolute;
								right: 20px;
							}

							&.open {
								@include respond-to($max-tablet) {
									scale: -1;
								}
							}
						}
					}
				}

				> h2,h3,h4 {
					font-size: 22px;
					justify-content: center;
					color: var(--secondary);
					font-weight: 500;
				}

				.items-wrap {
					@include respond-to($max-tablet) {
						overflow: auto;
						max-height: 222px;
					}
				}

				.cart {
					text-align: center;

					.remove-item {
						text-align: right;
						margin-right: -25px;
						margin-top: 10px;
						margin-bottom: -10px;
					}

					.item {
						border-width: 0 1px;
						border-style: solid;
						border-color: var(--medium-gray);
						padding: 0 40px 20px;

						&:first-child {
							border-radius: 6px 6px 0 0;
							border-width: 1px 1px 0;
						}

						p {
							line-height: toRem(18);

							&:first-of-type {
								margin-bottom: 0;
							}

							&:last-of-type {
								margin-top: 0;
							}
						}

						.actual-price {
							font-size: toRem(22);
						}
					}

					h2,h3,h4 {
						margin: 0;
						font-weight: 500;
						font-size: 1rem;
						color: var(--secondary);
					}

					p {
						font-size: toRem(12);
					}

					.total {
						background-color: var(--light-gray);
						padding: 20px;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						border: 1px solid var(--light-gray);

						.actual-price {
							font-size: toRem(26);
						}

						.button {
							width: 100%;
							margin-top: 16px;
						}
					}
				}

				.cart-empty {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 32px 20px;
					background-color: var(--light-gray);
					border-radius: 6px;

					@include respond-to($max-tablet) {
						display: none;
					}
				}
			}
		}

		.standard-price {
			width: 100%;
			font-size: toRem(22);
			color: col-alpha('primary', 0.3);
			text-decoration: line-through;
		}

		.actual-price {
			width: 100%;
			color: var(--secondary);
			font-weight: 500;
			font-size: toRem(30);
		}

		.parking,
		.service,
		.service-item,
		.ticket {
			display: flex;
			justify-content: space-between;
			margin-bottom: 60px;

			@include respond-to($phone-plus) {
				flex-wrap: wrap;
				margin-bottom: 0;
			}

			&:not(:first-of-type) {
				@include respond-to($phone-plus) {
					margin-top: 30px;
				}
			}

			.inner-info {
				flex-basis: 71%;

				@include respond-to($phone-plus) {
					flex-basis: 100%;
					display: flex;
					flex-wrap: wrap;
				}

				.header {
					display: inherit;
					margin: 0;

					@include respond-to($phone-plus) {
						flex-basis: 100%;
						display: flex;
					}
	
					img {
						width: 85px !important;
						margin-right: 20px;
						float: left;

						@include respond-to($phone-plus) {
							width: 65px !important;
							margin-right: 12px;
						}
					}
				}
	
				.content {
					flex-basis: 60%;
					padding: 0 5px 0 55px;
	
					@include respond-to($phone-plus) {
						flex-basis: 100%;
						padding: 0;
					}
	
					ul {
						margin: 13px 0;
	
						li {
							padding: 5px 0;
							list-style: disc;
						}
					}
				}

				h2,h3,h4 {
					margin: 0;
					font-size: toRem(22);
					font-weight: 500;

					@include respond-to($phone-plus) {
						font-size: toRem(20);
						flex-basis: 70%;
					}
				}

				.offer-type {
					font-size: toRem(14);
					line-height: toRem(30);

					@include respond-to($phone-plus) {
						line-height: toRem(17);
						margin-top: 20px;
					}
				}

				.description {
					padding-left: 8%;

					@include respond-to($phone-plus) {
						flex-basis: 100%;
						margin: 0 15px;
						padding: 15px !important;
						font-size: toRem(14);
					}

					&.open {
						@include respond-to($phone-plus) {
							background-color: var(--light-gray);
						}
					}

					ul {
						@include respond-to($phone-plus) {
							font-size: toRem(14);
							padding-left: 25px;
						}
					}
				}
			}

			.add-to-cart {
				flex-basis: 27%;
				background-color: var(--light-gray);
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				padding: 20px;
				justify-content: center;
				text-align: center;
				border-radius: 6px;
				height: 100%;
				min-height: 12em;

				@include respond-to($phone-plus) {
					flex-basis: 100%;
					margin: 20px;
					border-radius: 0;
					height: auto;
				}

				.button {
					padding: 7px 20px;
				}
			}

			.availability {
				font-size: 18px;
				text-transform: uppercase;
				font-weight: 500;
				padding-left: 12%;

				@include respond-to($phone-plus) {
					padding: 0;
					flex-basis: 100%;
				}

				&.ok {
					color: #34B941;
				}
			}

			.button-accordion {
				font-size: 1rem;
				font-weight: 400;
			}
		}

		.parking {
			@include respond-to($mid-tablet) {
				margin-top: 60px;
			}
		}

		.service {
			&.open {
				background-color: var(--light-gray);

				@include respond-to($phone) {
					margin: 0 15px 40px;
					padding-top: 20px;
				}

				@include respond-to($mid-tablet) {
					margin: 0 0 40px;
					padding: 20px 15px;
				}

				@include respond-to($min-tablet) {
					padding: 45px 20px;
				}

				.add-to-cart {
					background-color: white;
					padding: 14px;
					height: 100%;
				}
			}

			.quantity {
				margin: 0;
			}
		}

		.altri-servizi {
			&.open {
				@include respond-to($min-tablet) {
					background-color: var(--light-gray);
				}

				.header {
					@include respond-to($max-tablet) {
						align-items: flex-end;
					}
				}

				.description {
					@include respond-to($max-tablet) {
						padding: 7px 0 0 !important;
						background-color: var(--light-gray);
					}
				}

				> .button {
					@include respond-to($max-tablet) {
						font-size: 1rem;
						padding: 12px 20px !important;
						display: flex;
						align-items: center;
						justify-content: space-between;
						text-transform: inherit;
						font-weight: 400;
					}

					@include respond-to($min-tablet) {
						border-bottom: 0;
						border-top: 1px solid var(--medium-gray);
					}

					&::after {
						transform: rotate(180deg) translateY(-5px);
					}
				}
			}

			&:not(.open) {
				@include respond-to($min-tablet) {
					margin-bottom: 40px;
				}
			}

			img {
				width: 70px !important;
			}

			> .button {
				font-size: 18px;
				text-transform: uppercase;
				border-bottom: 1px solid var(--medium-gray);
				color: var(--primary-dark);
				font-weight: 500;
				width: 100%;
				display: flex;
				padding: 32px 20px;
				cursor: pointer;

				@include respond-to($phone) {
					font-size: 1rem;
					font-weight: 400;
					padding: 12px 20px !important;
					display: flex;
					align-items: center;
					justify-content: space-between;
					text-transform: inherit;
				}

				&::after {
					content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E");
					margin-left: 15px;
					transform: translateY(-3px);
				}
			}
		}

		.ticket {
			padding-bottom: 50px;
			margin-bottom: 35px !important;

			@include respond-to($min-tablet) {
				border-bottom: 1px solid var(--medium-gray);
			}
		}

		.service-item:first-of-type {
			margin-top: 116px;

			@include respond-to($phone) {
				margin-top: 2rem;
			}
	
			@include respond-to($tc) {
				margin-top: 2rem;
			}
		}
	}

	#buy-parking {
		> .center-content {
			z-index: 99;

			@include respond-to($phone-plus) {
				width: 94%;
				margin: 10px;
			}

			&.sticky {
				@include respond-to($phone-plus) {
					top: 60px !important;
				}

				@include respond-to($min-tablet) {
					left: 50%;
					transform: translateX(-50%);
					width: 54%;
				}

				@include respond-to($td) {
					width: 64%;
				}
			}
		}
	}

	#buy-gold-card {
		.add-to-cart {
			max-height: 8.5em;
		}

		.cart {
			h4 {
				margin-bottom: 15px !important;
			}
		}
	}

	.buy-service {
		.col:first-child {
			margin-top: 116px;

			@include respond-to($max-tablet) {
				margin-top: 50px;
			}
		}
	}

	#userdata {
		list-style: none;
		padding: 0;
		margin: 16px 0 32px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			border-bottom: 1px solid var(--medium-gray);
			flex-basis: calc(98% / 2);
			color: col-alpha('primary', 0.5);
			font-size: 1rem;

			@include respond-to($phone) {
				padding: 20px 0 15px;
				font-size: toRem(14);
			}

			@include respond-to($max-tablet) {
				flex-basis: 100%;			  
			}

			.value {
				font-weight: 500;
				color: var(--secondary);
			}
		}
	}

	.dati {
		@include respond-to($max-tablet) {
			padding-top: 1rem;
			font-size: 18px;
		}

		> .row .button {
			width: 49%;

			@include respond-to($max-tablet) {
				width: 100%;
			}
		}
	}

	.riepilogo-ordine {
		margin-top: 3em;

		.item {
			padding: 16px 0;
			margin: 16px 0;
			border-bottom: 1px solid var(--secondary);
			display: flex;
			align-items: center;

			@include respond-to($max-tablet) {
				align-items: flex-start;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.logo {
				max-width: 65px;
				margin-right: 15px;

				@include respond-to($max-tablet) {
					max-width: 50px;
					margin-right: 10px;
				}

				img {
					width: 100%;
				}
			}

			.description {
				flex-basis: 80%;

				@include respond-to($max-tablet) {
					flex-basis: 60%;
					margin-bottom: 20px;
				}

				h4 {
					margin: 0 0 5px;
				}

				p {
					margin: 0;

					@include respond-to($max-tablet) {
						font-size: toRem(14);
					}
				}
			}

			.edit-btn {
				flex-basis: 30%;

				@include respond-to($max-tablet) {
					order: 4;
				}
			}

			.quantity {
				flex-basis: 30%;

				@include respond-to($max-tablet) {
					width: 130px;
					order: 4;
					margin: 0;
				}
			}

			.remove-item {
				justify-content: center;
				display: flex;

				@include respond-to($phone) {
					order: 3;
				}

				@include respond-to($mid-tablet) {
					width: 130px;
					order: 3;
				}
			}

			.item-price {
				color: var(--secondary);
				font-weight: 500;
				font-size: toRem(22);
				flex-basis: 12%;
			}

			p.item-price {
				@include respond-to($max-tablet) {
					order: 5;
					margin: 8px 0 0;
				}
			}

			.button {
				padding: 10px 25px;
				margin-right: 5%;
			}
		}

		.resume-total {
			background-color: var(--secondary);
			color: white;
			text-align: right;
			padding: 20px;
			border-radius: 6px;
		}
	}

	.checkout {
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 100%;

		@include respond-to($phone) {
			flex-wrap: wrap;
		}

		> a {
			flex-basis: calc(98% / 2);

			@include respond-to($phone) {
				flex-basis: 100%;
				margin-bottom: 12px;
			}

			&:first-child {
				@include respond-to($phone) {
					margin-top: 3rem !important;
				}
			}
		}
	}
}

.quantity {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 20px 0;

	.minus, .plus {
		display: flex;
		cursor: pointer;
		padding: 15px 10px;

		img {
			max-width: 25px;
		}
	}

	.qty {
		background-color: col-alpha('primary', 0.1);
		padding: 7px 20px;
		border-radius: 6px;
		font-size: 26px;
	}
}

#parking-help {
	color: white;
	border-radius: 40px;
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
	min-height: 15em;
	display: flex;
	align-items: center;
	padding: 20px 35px;
	margin: 64px -55px;

	@include respond-to($phone) {
		background-color: var(--primary-dark);
		margin: 80px 15px !important;
		border-radius: 12px;
		justify-content: center;
		padding: 0;
	}

	@include respond-to($mid-tablet) {
		margin: 64px 5px;
	}

	@include respond-to($mini-desktop) {
		margin: 64px auto;
	}

	@include respond-to($not-mobile) {
		background-image: linear-gradient(-90deg,rgba(1,17,44,0.3) 0%, #01112C 40%), url("../../img/eshop/parking-cta-bg.png");
	}

	h2 {
		display: flex;
		align-items: center;

		@include respond-to($phone) {
			flex-wrap: wrap;
			font-size: toRem(22);
			font-weight: 600;
			padding: 10px 10px 25px;
		}

		@include respond-to($mid-tablet) {
			margin-top: 0;
		}	

		.icon {
			width: 50px;

			@include respond-to($max-tablet) {
				margin: 15px auto;
				width: 50px !important;
			}
		}
	}

	.row {
		@include respond-to($phone) {
			flex-wrap: wrap;
		}

		> div {
			display: flex;

			@include respond-to($phone) {
				flex-basis: 100%;
				border-top: 1px solid rgba(255,255,255, 0.3);
				align-items: center;
				padding: 7px 15px;
			}

			@include respond-to($not-mobile) {
				align-items: center;
				margin-right: 40px;
			}

			&:last-child {
				@include respond-to($phone) {
					padding-bottom: 25px;
				}	
			}

			p {
				margin: 0 0 0 15px;

				.orari {
					@include respond-to($phone) {
						font-size: toRem(13);
					}
				}
			}
		}
	}
}