section#shop-list {
	margin: 5rem 10%;

	@include respond-to($phone) {
		margin: 5rem 15px;
	}

	@include respond-to($mid-tablet) {
		margin: 5rem 3.5%;
	}

	@include respond-to($mini-desktop) {
		margin: 5rem 5%;
	}

	@include respond-to($small-desktop) {
		margin: 5rem 5%;
	}

	.shop-filter {
		flex-basis: 100%;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 5rem;

		@include respond-to($phone) {
			justify-content: center;
			flex-wrap: wrap;
		}

		select {
			background-color: var(--light-gray);
			border-radius: 5px;

			@include respond-to($phone) {
				flex-basis: 70%;
			}

			&:last-of-type {
				margin-left: 10px;

				@include respond-to($phone) {
					margin: 10px 0 0;
				}
			}

			option {
				color: var(--primary-dark);
				font-family: inherit;
				background-color: var(--light-gray);
				border: 0;
			}
		}
	}

	.shop-list {
		&.grid {
			@include respond-to($min-phone) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: 1fr;
				grid-column-gap: 30px;
				grid-row-gap: 30px;
			}

			@include respond-to($mid-tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			.list {
				@include respond-to($min-phone) {
					display: grid;
					grid-template-rows: 0fr 2fr;
				}
			}
		}

		.single-shop {
			flex-basis: calc(97% / 3);
			margin-bottom: 3rem;

			@include respond-to($phone) {
				flex-basis: 100%;
			}

			@include respond-to($mid-tablet) {
				flex-basis: calc(97% / 2);
			}

			@include respond-to($mini-desktop) {
				flex-basis: calc(97% / 2);
			}

			&.list {
				cursor: pointer;
				height: 100%;
				position: relative;
				// display: flex;
				// flex-wrap: wrap;
			}

			&.single-view {
				flex-basis: 100%;
				justify-content: space-between;
				overflow: hidden;
				flex-wrap: wrap;
				display: flex !important;

				.logo {
					border: 0;
					flex-basis: 33%;
					margin-left: 10px;
				}

				.info {
					border-radius: $radius;
					flex-basis: 60%;
				}
			}

			.logo {
				border-color: var(--medium-gray);
				border-style: solid;
				border-width: 1px 1px 0;
				border-radius: $radius $radius 0 0;
				display: flex;
				justify-content: center;
				align-items: center;
				// padding: 15px;
				// height: 250px;
				width: 100%;
				padding: 0;
				height: 15vw;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;

				@include respond-to($phone) {
					border-width: 1px 0 0 !important;
					border-radius: 0;
					// height: auto;
					// padding: 50px 20px;
					height: 57vw;
					flex-basis: 100% !important;
					border-style: solid !important;
					border-color: var(--medium-gray) !important;
				}

				@include respond-to($mid-tablet) {
					height: 300px;
				}

				@include respond-to($mini-desktop) {
					height: 17vw;
				}

				@include respond-to($small-desktop) {
					height: 17vw;
				}

				img {
					max-width: 100%;
					// @include respond-to($phone) {
					// 	width: 100%;
					// }

					// @include respond-to($mid-tablet) {
					// 	width: 70%;
					// }

					// @include respond-to($mini-desktop) {
						
					// }
				}
			}

			.info {
				background-color: var(--light-gray);
				border-radius: 0 0 $radius $radius;
				padding: 30px 20px;
				min-height: 18rem;

				@include respond-to($phone) {
					border-radius: 0 !important;
					flex-basis: 100% !important;
				}

				@include respond-to($tablet) {
					min-height: 23rem;
				}

				@include respond-to($mini-desktop) {
					min-height: 23rem;
				}

				@include respond-to($small-desktop) {
					min-height: 20rem;
				}

				h2 {
					font-size: toRem(26);
					text-align: left;
				}

				.description, span {
					color: col-alpha('primary', 0.5) !important;
				}

				.meta {
					color: var(--primary-dark);
					margin-top: 2rem;

					p {
						margin: 6px 0;
					}
				}
			}

			.single {
				max-width: 79vw;
				margin: 3rem auto;

				@include respond-to($max-tablet) {
					max-width: 90vw;
				}

				.slideshow .slick-slide {
					border-radius: $radius;
					margin: 0 20px;

					@include respond-to($max-tablet) {
						max-width: 90vw;
						border-radius: 0;
					}

					@include respond-to($max-desktop) {
						max-width: 79vw;
					}
				}

				img {
					border-radius: $radius;

					@include respond-to($phone) {
						border-radius: 0;
					}
				}

				.row {
					margin-top: 6rem;
					line-height: 1.8rem;

					@include respond-to($phone) {
						flex-wrap: wrap;
					}
				}

				.col {
					flex-basis: calc(95% / 2);

					@include respond-to($phone) {
						flex-basis: 100% !important;
					}

					&:first-child {
						@include respond-to($phone) {
							margin-bottom: 2rem;
						}
					}

					img {
						width: 100%;
						border-radius: $radius;
					}
				}
			}
		}

		> .link {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 33px;
		}
	}

	div.link {
		display: flex;
		justify-content: center;
		padding-top: 5rem;
	}
}