#sec-partenze,
#sec-arrivi {
	.flights {
		.titles.row {
			margin: 50px 10% 0;
			justify-content: space-around;
			border-bottom: 1px solid var(--primary-dark);
			text-transform: uppercase;
			font-size: toRem(14);
			padding: 10px;

			@include respond-to($phone) {
				display: none;
			}

			@include respond-to($mid-tablet) {
				margin: 50px 2% 0;
			}

			@include respond-to($mini-desktop) {
				margin: 50px 3.5% 0;
			}

			@include respond-to($small-desktop) {
				margin: 50px 5% 0;
			}

			> .col {
				flex-basis: 14%;
				text-align: center;

				&.timetables {
					flex-basis: 26.2%;
					justify-content: space-between;

					.col:first-child {
						// flex-basis: 38%;
						/* mod staging */
						flex-basis: 49.5%;
						flex-grow: 0;
						padding: 0;

						@include respond-to($tablet) {
							/* mod staging */
							flex-basis: 30.5%;
						}

						@include respond-to($desktop) {
							/* mod staging */
							flex-basis: 46%;
						}
					}

					.col:last-child {
						// flex-basis: 44%;
						// padding-left: 12px;
						/* mod staging */
						flex-basis: 42.1%;
						flex-grow: 0;
						padding: 0;

						@include respond-to($tablet) {
							/* mod staging */
							flex-basis: 36.1%;
						}

						@include respond-to($desktop) {
							/* mod staging */
							flex-basis: 42%;
						}
					}
				}

				&.flights-info {
					flex-basis: 38%;
				}

				&.nastro {
					flex-basis: 28%;
				}

				&.status {
					text-align: left;
					/* mod staging */
					padding-left: 1.2%;
					flex-basis: 15.5%;

					@include respond-to($small-desktop) {
						/* mod staging */
						padding-left: 1%;
					}
				}
			}
		}

		.single-flight {
			margin: 0 10%;
			// padding: 33px 0;
			padding: 5px 0;
			border-bottom: 1px solid var(--primary-dark);

			@include respond-to($phone) {
				flex-wrap: wrap;
				margin: 0 15px;
				// padding: 25px 0;
				padding: 25px 0 0;
				border: 0;
				position: relative;
			}

			@include respond-to($mid-tablet) {
				margin: 0 2%;
			}

			@include respond-to($mini-desktop) {
				margin: 0 3.5%;
			}

			@include respond-to($small-desktop) {
				margin: 0 5%;
			}

			&:after, .icon-arrow-circle-sec {
				// content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_773_22958)'%3E%3Cpath d='M20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10Z' fill='%230C99C1'/%3E%3Cpath d='M12.3595 10.2557C12.3971 10.2244 12.4273 10.1853 12.4481 10.141C12.4689 10.0967 12.4796 10.0484 12.4796 9.99946C12.4796 9.95055 12.4689 9.90224 12.4481 9.85795C12.4273 9.81367 12.3971 9.7745 12.3595 9.74321L9.21366 7.12238C9.165 7.08185 9.10581 7.05602 9.04301 7.04792C8.9802 7.03981 8.91639 7.04976 8.85904 7.0766C8.80168 7.10344 8.75316 7.14606 8.71915 7.19948C8.68514 7.25289 8.66705 7.31489 8.66699 7.37821V12.6215C8.66705 12.6849 8.68514 12.7469 8.71915 12.8003C8.75316 12.8537 8.80168 12.8963 8.85904 12.9232C8.91639 12.95 8.9802 12.96 9.04301 12.9518C9.10581 12.9437 9.165 12.9179 9.21366 12.8774L12.3595 10.2557Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_773_22958'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
				cursor: pointer;

				@include respond-to($phone) {
					position: absolute;
					// bottom: 45px;
					bottom: 18px;
					right: 20px;
					z-index: 99;
				}

				@include respond-to($min-phone) {
					align-items: center;
					display: flex;
				}
			}

			> .col {
				flex-basis: 12%;

				&.timetables {
					flex-basis: 26%;
					justify-content: center;
					padding: 0;

					@include respond-to($small-phone) {
						padding-left: 25px !important;
					}

					@include respond-to($phone) {
						//flex-basis: 50%;
						background-color: var(--light-gray);
						border-radius: $radius 0 0 0;
						flex-wrap: wrap;
						padding-bottom: 18px;
						justify-content: flex-start;
						padding-left: 27px;
						margin: 0 -10px 0 0;
					}

					.expected,
					.actual {
						font-size: toRem(22);
						flex-basis: 33%;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0;

						@include respond-to($small-phone) {
							flex-basis: 40% !important;
						}

						@include respond-to($phone) {
							flex-basis: 30%;
						}
					}

					.expected {
						@include respond-to($phone) {
							order: 1;
						}
					}

					.actual {
						@include respond-to($phone) {
							order: 3;
							justify-content: flex-start;
							flex-basis: 77%;
						}
					}

					.clock {
						opacity: 0;
						font-size: toRem(14);
						flex-basis: 17%;
						padding: 0;

						@include respond-to($phone) {
							order: 2;
							display: flex !important;
							margin-top: 35px;
							margin-left: 13px;
						}

						@include respond-to($mid-tablet) {
							flex-basis: 21%;
						}

						&.on-late {
							flex-basis: 17%;
							height: 25px;
							align-items: center;
							justify-content: center;
							display: flex;
							opacity: 1 !important;

							@include respond-to($small-phone) {
								margin-left: 13px !important;
							}

							@include respond-to($phone) {
								margin-left: 22px;
							}

							i {
								margin-right: 5px;
							}
						}

						&:not(.on-late) {
							@include respond-to($small-phone) {
								margin-top: 40px !important;
								margin-left: 13px !important;
							}

							@include respond-to($phone) {
								margin-left: 28px;
							}
						}
					}
				}

				&.flight-info {
					// flex-basis: 34%;
					align-items: center;
					/* mod staging */
					flex-basis: 33.3%;

					@include respond-to($phone) {
						display: block;
						flex-basis: 100%;
						padding: 25px 20px 15px;
						border-width: 0 1px 0 1px; 
						border-style: solid;
						border-color: var(--medium-gray);
						order: 3;
						/* mod staging */
						margin: auto;
					}

					.airline-logo {
						display: none;

						@include respond-to($phone) {
							float: left;
							margin-right: 15px;
						}
					}

					.info {
						> div {
							padding: 5px 0;
							@include respond-to($min-phone) {
								margin-left: 20px;
							}
						}

						.name {
							// font-size: toRem(22);
							font-size: clamp(22px, 1.3vw, 26px);

							@include respond-to($phone) {
								display: flex;
							}
	
							.acronym {
								color: var(--secondary);
								text-transform: uppercase;

								&.mobile-only {
									@include respond-to($phone) {
										// width: 100%;
										display: block;
										// margin-bottom: 5px;
										margin-right: 5px;
									}
								}
							}
						}

						.flight-n {
							font-size: clamp(16px, 1vw, 20px);
						}
	
						.slidee {
							opacity: 0.5;
							overflow: hidden;
							height: 25px;
							position: relative;
							
							> div {
								animation: vertical-slidee-3 8s infinite linear;
							}
						}
					}
				}

				&.check-in {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: clamp(16px, 1vw, 24px);
					/* mod staging */
					flex-basis: 13%;
					padding: 0;

					@include respond-to($phone) {
						flex-basis: 100%;
						// padding: 13px 13px 75px;
						padding: 0 13px 13px;
						border-radius: 0 0 $radius $radius;
						border-width: 0 1px 1px 1px;
						border-style: solid;
						border-color: var(--medium-gray);
						order: 4;
						font-size: 1rem;
						display: flex;
						flex-wrap: wrap;
					}

					@include respond-to($tablet) {
						/* mod staging */
						flex-basis: 15%;
						padding-right: 0;
					}
				}

				&.gate {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: clamp(16px, 1vw, 24px);
					padding: 0;

					@include respond-to($phone) {
						display: none !important;
					}

					@include respond-to($tablet) {
						/* mod staging */
						flex-basis: 12%;
						padding-right: 15px;
					}
				}

				&.nastro {
					@extend .check-in;
					flex-basis: 20%;

					@include respond-to($phone) {
						flex-basis: 100%;
						border-radius: 0 0 $radius $radius;
						border-width: 0 1px 1px 1px;
						border-style: solid;
						border-color: var(--medium-gray);
						order: 4;
						font-size: 1rem;
						display: flex;
						flex-wrap: wrap;
					}
				}

				&.check-in,
				&.nastro {
					.label.mobile-only {
						flex-basis: 100%;
						padding-bottom: 5px;
						justify-content: center;
						display: flex;
						font-size: toRem(14);
						text-transform: uppercase;
						color: col-alpha('primary', 0.5);
						/* mod staging */
						border: 0;
						font-weight: 500;
					}
				}

				&.status {
					display: flex;
					align-items: center;

					@include respond-to($phone) {
						flex-basis: 30%;
						background-color: var(--light-gray);
						border-radius: 0 $radius 0 0;
						order: 2;
						justify-content: center;
						padding: 10px;
					}
				}
			}
		}

		.on-late,
		.lastcall {
			color: var(--red);
		}

		> .link {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 33px;
		}
	}
}

#sec-arrivi {
	.titles.row {
		.flights-info {
			flex-basis: 32% !important;
		}

		.status {
			padding-left: 0 !important;
		}
	}

	.single-flight {
		.status {
			@include respond-to($min-phone) {
				flex-basis: 15% !important;
			}
		}
	}
}

section.single-flight-details {
	padding: 64px 10%;

	@include respond-to($max-mini-desktop) {
		padding: 32px 15px;
	}

	@include respond-to($small-desktop) {
		padding: 64px 3%;
	}

	@include respond-to($desktop) {
		padding: 64px 3%;
	}

	.row.status {
		padding: 0 0 25px;
		text-transform: uppercase;
		font-size: toRem(22);
		font-weight: 500;
		align-items: center;
	}

	.row.info {
		@include respond-to($min-desktop) {
			height: 19em;
		}

		> .row {
			flex-basis: 45%;
			flex-wrap: wrap;
			justify-content: space-between;

			@include respond-to($max-tablet) {
				align-content: flex-start;
			}

			.flight,
			.meta {
				flex-basis: 47%;
				flex-wrap: wrap;

				@include respond-to($tablet) {
					flex-basis: 90%;
				}
			}

			.flight {
				color: white;
				padding: 20px 20px 65px;
				background-size: cover;
				background-position: bottom;
				border-radius: 20px;
				font-size: toRem(25);
				font-weight: 400;

				@include respond-to($phone) {
					font-size: toRem(16);
					flex-basis: 100%;
					padding: 11px 11px 80px;
					height: 40%;
				}

				@include respond-to($mid-tablet) {
					padding: 20px 20px 100px;
					height: 60%;
				}

				.acronym {
					font-size: toRem(65);
					display: flex;

					@include respond-to($phone) {
						font-size: toRem(40);
					}
				}
			}

			.meta {
				align-items: flex-start;
				align-content: flex-start;

				@include respond-to($max-tablet) {
					flex-basis: 100%;
					padding-left: 10px;
				}

				.label {
					flex-basis: 40%;
					text-transform: uppercase;
					font-size: toRem(14);
					color: col-alpha('primary', 0.5);
					padding: 17px 0 15px;

					@include respond-to($max-tablet) {
						flex-basis: 100%;
						padding: 17px 0 5px;
					}
				}

				.value {
					flex-basis: 50%;
					font-size: toRem(18);
					padding: 15px 0;

					@include respond-to($max-tablet) {
						flex-basis: 100%;
						display: flex;
						padding: 0 0 8px;
					}

					.expected.changed {
						color: col-alpha('primary', 0.3) !important;
					}

					.on-late {
						color: var(--red) !important;

						@include respond-to($max-tablet) {
							margin-left: 10px;
						}
					}
				}
			}
		}

		.verse {
			flex-basis: 10%;
			display: flex;
			align-items: center;

			@include respond-to($max-tablet) {
				align-items: flex-start;
				justify-content: center;
				padding: 65px 0 0 10px;
			}
		}
	}
}

section#info {
	h2.section-title {
		margin: 85px auto 70px;

		@include respond-to($phone) {
			margin: 45px auto;
		}
	}

	// Already in global.scss
	#footer-items {
		.col {
			@include respond-to($not-mobile) {
				background-color: var(--light-gray);
				border: 0;
				color: col-alpha('primary', 0.5);
			}

			&:after {
				@include respond-to($min-tablet) {
					content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1123_6093)'%3E%3Cpath opacity='0.3' d='M24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3Cpath d='M14.8309 12.3072C14.876 12.2697 14.9123 12.2227 14.9372 12.1696C14.9622 12.1164 14.9751 12.0584 14.9751 11.9997C14.9751 11.9411 14.9622 11.8831 14.9372 11.8299C14.9123 11.7768 14.876 11.7298 14.8309 11.6922L11.0559 8.54725C10.9975 8.49862 10.9265 8.46762 10.8511 8.45789C10.7758 8.44816 10.6992 8.4601 10.6304 8.49231C10.5615 8.52452 10.5033 8.57566 10.4625 8.63976C10.4217 8.70386 10.4 8.77826 10.3999 8.85425V15.1462C10.4 15.2222 10.4217 15.2966 10.4625 15.3607C10.5033 15.4248 10.5615 15.476 10.6304 15.5082C10.6992 15.5404 10.7758 15.5523 10.8511 15.5426C10.9265 15.5329 10.9975 15.5019 11.0559 15.4532L14.8309 12.3072Z' fill='#{url-friendly-colour($white)}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1123_6093'%3E%3Crect width='24' height='24' fill='#{url-friendly-colour($white)}'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
				}
			}

			.icon-circle {
				@include respond-to($not-mobile) {
					background-color: var(--medium-gray);
				}
			}

			p.content {
				.title {
					font-weight: 500;

					@include respond-to($min-phone) {
						color: var(--primary-dark);
					}
				}
			}
		}
	}
}

section#acquista-servizi {
	h2.section-title {
		font-size: toRem(40);
		font-weight: 400;
		margin-top: 145px;

		@include respond-to($phone) {
			font-size: toRem(30);
			margin-top: 45px;
		}
	}
}
