section#form-register {
	margin: 5rem 10%;

	@include respond-to($phone) {
		margin: 5rem 15px;
	}

	@include respond-to($mid-tablet) {
		margin: 5rem 3.5%;
	}

	@include respond-to($mini-desktop) {
		margin: 5rem 5%;
	}

	@include respond-to($small-desktop) {
		margin: 5rem 5%;
	}

	#register {
		margin-top: 4rem;
	}

	h2 {
		font-size: toRem(40);
		font-weight: 400;
		text-align: left;
	}

	.account, .anagrafica, .recapiti {
		margin: 1rem 0 2.5rem;

		input, select {
			flex-basis: calc(97% / 3);
			background-color: var(--light-gray);
			margin-bottom: 12px;
			margin-right: 10px;
			border-radius: 6px;

			@include respond-to($phone) {
				flex-basis: 100%;
			}

			@include respond-to($tc) {
				flex-basis: 100% !important;
			}
		
			@include respond-to($mid-tablet) {
				flex-basis: calc(96% / 2);
			}

			@include respond-to($mini-desktop) {
				flex-basis: calc(96% / 3);
			}
		}

		input:nth-last-child(2) {
			@include respond-to($mini-desktop) {
				margin-top: 0;
			}
		}

		select {
			@include respond-to($phone) {
				padding: 19px;
				margin-top: 12px;
			}
		}

		.icon-hide-password {
			margin-top: -13px;

			@include respond-to($phone) {
				margin: -77px 0 0 91%;
			}
		}
	}

	.recapiti {
		input#indirizzo {
			flex-basis: 66%;

			@include respond-to($phone) {
				flex-basis: 100%;
			}

			@include respond-to($small-tablet2) {
				flex-basis: 100%;
			}

			@include respond-to($tablet2) {
				flex-basis: 49%;
			}

			@include respond-to($mini-desktop) {
				flex-basis: 65.5%;
			}
		}

		input#civico, input#cap {
			flex-basis: 15.5% !important;
			max-width: 15.5%;

			@include respond-to($phone) {
				flex-basis: 100% !important;
				max-width: 100%;
			}

			@include respond-to($small-tablet2) {
				flex-basis: 48% !important;
				max-width: 48%;
			}

			@include respond-to($tablet2) {
				flex-basis: 23.5% !important;
				max-width: 23.5%;
			}

			@include respond-to($mini-desktop) {
				flex-basis: 15% !important;
				max-width: 15%;
			}
		}
	}

	input#codice {
		width: 30%;
		margin-top: 2rem;
	}
}

/** area accordion for fatturazione and telepass
 * - Registrazione / login template
 * - Area riservata template
 */

#form-register,
#userdata {
	.section-form {
		flex-basis: 100%;
		padding: 1.5rem;
		border-bottom: 1px solid col-alpha('primary', 0.4);
		flex-wrap: wrap;
		transition: all 0.5s ease;

		&:first-child {
			border-top: 1px solid col-alpha('primary', 0.4);
		}

		&.closed {
			align-items: center;

			.fields {
				display: none;
			}

			.title {
				&::after {
					content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E");
					transform: translateY(-3px);
				}
			}
		}

		.title {
			font-size: toRem(30);
			font-weight: 500;
			margin: 0;
			flex-basis: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;

			@include respond-to($phone) {
				font-size: toRem(26);
				font-weight: 400;
			}

			&::after {
				content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E");
				transform: rotate(180deg) translateY(-5px);
			}
		}

		.fields {
			margin-top: 2rem;
			display: flex;
			flex-wrap: wrap;

			> input, > select {
				margin-bottom: 10px;

				@include respond-to($phone) {
					flex-basis: 100%;
				}
			}

			> select {
				color: rgba(1, 17, 44, 0.5);
			}

			> #ragione-sociale,
			> #targa {
				flex-basis: 48.7%;

				@include respond-to($mid-tablet) {
					margin-top: 0;
				}

				@include respond-to($retina1) {
					flex-basis: 49.7%;
				}
			}

			> #ragione-sociale,
			> #provincia-fatturazione,
			> #targa {
				margin-right: 10px;
				margin-top: 0;
			}

			> #iva-cf,
			> #numero-telepass {
				flex-basis: 48.7%;
			}

			> #indirizzo-fatturazione {
				flex-basis: 65.7%;

				@include respond-to($mid-tablet) {
					flex-basis: 100%;
				}

				@include respond-to($mini-desktop) {
					flex-basis: 57.3%;
				}

				@include respond-to($small-desktop) {
					flex-basis: 60.8%;
				}
			}

			> #numero-fatturazione,
			> #cap-fatturazione {
				flex-basis: 16%;

				@include respond-to($mid-tablet) {
					flex-basis: 32.5%;
					margin-right: 10px !important;
				}
			}

			> #citta-fatturazione,
			> #provincia-fatturazione,
			> #paese-fatturazione,
			> #email-pec,
			> #cod-destinatario {
				flex-basis: 32.55%;

				@include respond-to($mid-tablet) {
					flex-basis: 32.5%;
					margin-right: 10px;
					margin-top: 0;
				}

				@include respond-to($mini-desktop) {
					flex-basis: 32.25%;
					margin-top: 0;
				}
			}
		}
	}

	.privacy {
		margin-top: 6rem;

		p.priv {
			font-size: toRem(30);

			@include respond-to($phone) {
				font-size: toRem(22);
			}
		}

		label {
			flex-basis: 25% !important;
			flex-wrap: nowrap;
			margin: 2rem 0 1.5rem;

			@include respond-to($phone) {
				flex-basis: 100% !important;
				flex-wrap: nowrap !important;
				align-items: center;
				margin: 2rem 0 0 !important;
			}

			input {
				flex-basis: auto !important;
				margin: 0 5px 0 0 !important;

				@include respond-to($phone) {
					margin-right: 17px !important;
					align-items: center;
				}
			}
		}
	}

	.fidelity {
		margin: 4rem 0 2rem;

		.title {
			font-size: toRem(30);

			@include respond-to($phone) {
				font-size: toRem(18);
				border-bottom: 1px solid var(--medium-gray);
				padding-bottom: 10px;
				margin-bottom: 2rem;
			}

			span {
				color: var(--primary-gesac);
				font-weight: 500;
			}
		}

		label {
			flex-basis: 25% !important;
			flex-wrap: nowrap !important;
			margin: 2rem 0 1.5rem;

			@include respond-to($phone) {
				font-size: toRem(14);
				display: block !important;
			}

			input {
				flex-basis: auto !important;
				margin: 0 5px 0 0 !important;

				@include respond-to($phone) {
					float: left;
					height: 32px;
					margin-right: 13px !important;
				}

				@include respond-to($tc) {
					height: 19px !important;
				}
			}
		}

		.link {
			padding-left: 2px
		}
	}
}

section#login {
	@extend #form-register;

	form {
		flex-basis: 100%;
	}

	input:not([type="submit"]) {
		flex-basis: 39%;
		margin-right: 10px;

		@include respond-to($phone) {
			flex-basis: 100%;
			margin-right: 0;
		}

		@include respond-to($tc) {
			flex-basis: 100% !important;
			margin-right: 0;
		}
	
		@include respond-to($mid-tablet) {
			flex-basis: calc(96% / 2);
		}

		@include respond-to($mini-desktop) {
			flex-basis: calc(96% / 3);
		}
	}

	input[type="submit"] {
		flex-basis: 19%;
		text-transform: initial;

		@include respond-to($phone) {
			flex-basis: 100%;
		}

		@include respond-to($tc) {
			flex-basis: 100% !important;
		}
	
		@include respond-to($mid-tablet) {
			flex-basis: calc(96% / 2);
		}

		@include respond-to($mini-desktop) {
			flex-basis: calc(96% / 3);
			margin: 0;
		}
	}

	.button {
		flex-basis: 100%;
		margin-top: 12px;
	}

	.link.pass-recovery {
		text-decoration: none;
		display: block;
		margin: 1.5rem 0 2.5rem;
	}

	.social-login {
		margin-top: 1rem;

		> a {
			border: 1px solid var(--medium-gray);
		}
	}
}

section#recupera-password {
	@extend #form-register;

	form {
		flex-basis: 100%;
		display: flex;

		@include respond-to($phone) {
			flex-wrap: wrap
		}
	}

	input {
		@include respond-to($phone) {
			flex-basis: 100% !important;
		}

		@include respond-to($tc) {
			flex-basis: 100% !important;
		}
	}

	input:not([type="submit"]) {
		flex-basis: 80%;
		margin-right: 10px;
	}

	input[type="submit"] {
		flex-basis: 19%;
		text-transform: initial;

		@include respond-to($mid-tablet) {
			margin: 0;
		}
	}
}

#register-ok {
	> div {
		background-color: var(--secondary);
		border-radius: 24px;
		width: 50%;
		padding: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		color: white;
		margin-top: 25%;
		margin-left: 50%;
		transform: translate(-50%,-50%);

		@include respond-to($phone) {
			padding: 100px 25px;
			width: 90%;
			border-radius: 12px;
			margin-top: 40vh;
		}

		@include respond-to($mid-tablet) {
			width: 75%;
		}

		@include respond-to($odd-tablet) {
			padding: 100px 50px;
			margin-top: 35%;
		}

		@include respond-to($mini-desktop) {
			padding: 50px;
			width: 55%;
		}

		h3 {
			font-size: toRem(40);
			font-weight: 400;
			margin: 0 0 1rem;
			text-align: center;

			@include respond-to($phone) {
				font-size: toRem(26);
			}
		}

		p {
			font-size: toRem(22);
			text-align: center;

			@include respond-to($phone) {
				font-size: 1rem;
			}
		}

		.button {
			margin-top: 2rem;
			width: 35%;

			@include respond-to($phone) {
				width: 100%;
			}
		}
	}
}