section#flights-filter {
	.form-filter {
		margin: 50px 10% 0;

		@include respond-to($phone) {
			margin: 0 15px;
		}

		@include respond-to($mid-tablet) {
			margin: 50px 2% 0;
		}

		@include respond-to($mini-desktop) {
			margin: 50px 3.5% 0;
		}

		@include respond-to($small-desktop) {
			margin: 50px 5% 0;
		}

		#filter-flight {
			display: flex;
			margin: 7rem 0 6rem;
			justify-content: space-between;

			@include respond-to($max-mini-desktop) {
				margin: 2rem 0 3rem;
				flex-wrap: wrap;
			}

			input {
				color: auto;

				@include respond-to($phone) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				&.drop {
					&::placeholder {
						color: col-alpha('primary', 0.5);
					}
				}

				&.departure {
					flex-basis: 22%;

					@include respond-to($mid-tablet) {
						flex-basis: 49.5% !important;
						max-width: 49.5% !important;
					}

					@include respond-to($mini-desktop) {
						flex-basis: 20%;
					}

					@include respond-to($small-desktop) {
						flex-basis: 20%;
					}

					@include respond-to($desktop) {
						flex-basis: 20%;
					}

					&:disabled {
						@include respond-to($max-tablet) {
							color: col-alpha('primary', 0.5);
						}
					}
				}

				&.arrival {
					flex-basis: 22%;
					max-width: 20% !important;

					@include respond-to($phone) {
						flex-basis: 100% !important;
						max-width: 100% !important;
					}

					@include respond-to($mid-tablet) {
						flex-basis: 49.5% !important;
						max-width: 49.5% !important;
					}

					@include respond-to($mini-desktop) {
						flex-basis: 20%;
						max-width: 18% !important;
					}

					@include respond-to($small-desktop) {
						flex-basis: 20%;
						max-width: 18% !important;
					}

					@include respond-to($desktop) {
						flex-basis: 20%;
						max-width: 18% !important;
					}
				}

				&.airline {
					flex-basis: 12%;
					max-width: 12%;

					@include respond-to($mid-tablet) {
						flex-basis: calc(100% / 3) !important;
						max-width: 33% !important;
						margin-top: 12px;
					}

					&::placeholder {
						color: col-alpha('primary', 0.9) !important;
					}
				}

				&.submit {
					@include respond-to($mini-desktop) {
						padding: 0 8px;
						margin: 0;
					}
				}
			}

			.input-wrapper {
				@include respond-to($phone) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				@include respond-to($mid-tablet) {
					flex-basis: calc(100% / 3) !important;
					max-width: 33% !important;
				}
			}

			datalist {
				top: auto;
				width: 30.7%;
				margin-top: 3.5rem;
			}
		}
	}
}