section#flights-filter {
	.form-filter {
		margin: 50px 10% 0;

		@include respond-to($phone) {
			margin: 0 15px;
		}

		@include respond-to($mid-tablet) {
			margin: 50px 2% 0;
		}

		@include respond-to($mini-desktop) {
			margin: 50px 3.5% 0;
		}

		@include respond-to($small-desktop) {
			margin: 50px 5% 0;
		}

		#filter-flight {
			display: flex;
			margin: 7rem 0 6rem;
			justify-content: space-between;

			@include respond-to($max-mini-desktop) {
				margin: 2rem 0 3rem;
				flex-wrap: wrap;
			}

			input {
				color: auto;

				@include respond-to($phone) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				&.drop {
					&::placeholder {
						color: col-alpha('primary', 0.5);
					}
				}

				&.departure {
					margin-top: 0 !important;

					@include respond-to($min-desktop) {
						flex-basis: 25%;
						margin-right: 15px !important;
					}

					@include respond-to($tablet) {
						flex-basis: 31%;
						margin: 0 0 10px 0;
					}

					@include respond-to($mini-desktop) {
						margin: 0 15px 10px 0;
					}

					&:disabled {
						@include respond-to($max-tablet) {
							color: col-alpha('primary', 0.5);
						}
					}
				}

				&.airline::placeholder {
					color: col-alpha('primary', 0.9) !important;
				}

				&.submit {
					@include respond-to($mid-tablet) {
						width: 32%;
					}

					@include respond-to($mini-desktop) {
						padding: 0 8px;
						margin: 0;
					}

					@include respond-to($small-desktop) {
						padding: 16px 25px;
					}
				}
			}

			.relative {
				flex-basis: 20%;

				@include respond-to($phone-plus) {
					flex-basis: 100%;
					max-width: 100%;
					margin-top: 10px;
				}

				@include respond-to($mid-tablet) {
					flex-basis: 33.5%;
				}

				@include respond-to($mini-desktop) {
					flex-basis: 36.5%;
					margin-bottom: 10px;
				}

				input {
					flex-basis: 100% !important;
					width: 100% !important;

					@include respond-to($min-desktop) {
						max-width: 97% !important;
					}
				}
			}

			.input-wrapper {
				flex-basis: 20%;
				
				@include respond-to($phone) {
					flex-basis: 100% !important;
					max-width: 100% !important;
				}

				@include respond-to($mid-tablet) {
					flex-basis: calc(100% / 3) !important;
					max-width: 33% !important;
				}

				@include respond-to($mini-desktop) {
					flex-basis: 43%;
				}
			}

			datalist {
				@include respond-to($phone-plus) {
					left: 0;
					top: auto;
				}
			}
		}
	}

	.flights-list {
		.titles.row {
			@extend .form-filter;
			justify-content: space-around;
			border-bottom: 1px solid var(--primary-dark);
			text-transform: uppercase;
			font-size: toRem(14);
			padding: 10px 0;
	
			@include respond-to($phone) {
				display: none !important;
			}
	
			> .col {
				flex-basis: 10%;
				text-align: center;
	
				&.airline {
					flex-basis: 30%;
	
					@include respond-to($mid-tablet) {
						flex-basis: 37%;
					}
				}
	
				&.periodo {
					flex-basis: 20%;
				}
			}
		}
	
		.single-flight {
			@extend .form-filter;
			padding: 33px 0;
			border-bottom: 1px solid var(--primary-dark);
			justify-content: space-around;
	
			@include respond-to($phone) {
				flex-wrap: wrap;
				margin: 0 0 3rem !important;
				padding: 25px 0 0;
				border: 0;
				position: relative;
				background-color: var(--light-gray);
			}
	
			@include respond-to($mid-tablet) {
				margin: 0 15px;
			}
	
			@include respond-to($mini-desktop) {
				margin: 0 3.5%;
			}
	
			@include respond-to($small-desktop) {
				margin: 0 5%;
			}
	
			&.closed {
				.label, .flight-info-mobile {
					display: none;
				}
	
				.button-open-flight {
					background-color: var(--secondary);
					padding: 5px 7px 2px 6px;
					border-radius: 50%;
					margin-bottom: -15px;
	
					i {
						margin: 0;
					}
				}
			}
	
			&.opened {
				> .col {
					color: col-alpha('primary', 0.5);
	
					&.flight-info {
						.name {
							border-bottom: 1px solid var(--secondary);
							margin-bottom: 30px;
							padding-bottom: 30px;
	
							&::before {
								@include respond-to($phone) {
									content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1176_36638)'%3E%3Cpath d='M2.14588 14.3393C1.73598 14.7492 1.07085 14.7492 0.660959 14.3393C0.251065 13.9294 0.251065 13.2643 0.660959 12.8544L5.86861 7.64672L0.660959 2.43907C0.251065 2.02917 0.251065 1.36404 0.660959 0.954149C1.07085 0.544255 1.73598 0.544255 2.14588 0.954149L7.35353 6.1618L12.5612 0.954149C12.9711 0.544255 13.6362 0.544255 14.0461 0.954149C14.456 1.36404 14.456 2.02917 14.0461 2.43907L8.83845 7.64672L14.0461 12.8544C14.456 13.2643 14.456 13.9294 14.0461 14.3393C13.6362 14.7492 12.9711 14.7492 12.5612 14.3393L7.35353 9.13164L2.14588 14.3393Z' fill='%2301112C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1176_36638'%3E%3Crect width='14' height='14' fill='white' transform='translate(14.3535 0.646484) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
									background-color: var(--secondary);
									padding: 0 8.5px 3px;
									border-radius: 50%;
									position: absolute;
									margin-top: 42px;
									left: 50%;
									pointer-events: all !important;
									transform: translate(-50%,0);
								}
							}
	
							span {
								display: flex;
								justify-content: center;
								flex-wrap: wrap;
								color: var(--primary-dark) !important;
							}
						}
	
						.info {
							padding-bottom: 15px;
						}
					}
	
					&.periodo,
					&.orario,
					&.frequenza {
						@include respond-to($phone) {
							padding: 25px 0;
						}
					}
	
					&.periodo {
						span {
							color: col-alpha('primary', 0.5) !important;
						}
					}
	
					&.flight-info-mobile {
						flex-basis: 100%;
						justify-content: center;
						display: flex;
						padding: 6px 0;
	
						> .col {
							flex-basis: 100%;
							padding: 6px 0;
							display: flex;
							justify-content: center;
						}
	
						.airline-name {
							font-size: toRem(22);
							font-weight: 500;
							color: var(--primary-dark) !important;
							padding-bottom: 25px;
						}
	
						.volo {
							color: var(--secondary) !important;
						}
					}
	
					.extra {
						display: flex !important;
						justify-content: center;
					}
				}
	
				.button-open-flight {
					display: none;
				}
			}
	
			> .col {
				flex-basis: 10%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: betterClamp(16,22);
	
				@include respond-to($phone) {
					flex-basis: 100% !important;
					flex-wrap: wrap;
				}
	
				&.volo {
					@include respond-to($phone) {
						color: var(--secondary);
					}
				}
	
				&.flight-info {
					flex-basis: 30%;
					align-items: center;
	
					@include respond-to($phone) {
						display: block;
						flex-basis: 100%;
					}
	
					@include respond-to($mini-desktop) {
						flex-basis: 32%;
					}
	
					.airline-logo {
						@include respond-to($phone) {
							display: none;
						}
					}
	
					.info {
						@include respond-to($phone) {
							text-align: center;
						}
	
						> div {
							padding: 5px 0;
	
							@include respond-to($phone) {
								padding: 10px 0 20px;
							}
	
							@include respond-to($min-phone) {
								margin-left: 20px;
							}
						}
	
						.name {
							font-size: toRem(22);
	
							@include respond-to($phone) {
								font-weight: 500;
							}
						}
	
						.extra {
							padding: 0 !important;
							font-size: 1rem;
	
							@include respond-to($phone) {
								display: none;
							}
						}
					}
				}
	
				&.periodo,
				&.orario,
				&.frequenza {
					@include respond-to($phone) {
						padding: 15px 0;
					}
	
					@include respond-to($mid-tablet) {
						text-align: center;
					}
	
					@include respond-to($mini-desktop) {
						text-align: center;
					}
				}
	
				&.periodo {
					flex-basis: 20%;
					font-size: betterClamp(16,18);
	
					span {
						color: var(--secondary);
	
						@include respond-to($max-mini-desktop) {
							padding: 0 5px;
						}
					}
				}
	
				&.frequenza {
					@include respond-to($phone) {
						padding-bottom: 25px;
					}
				}
	
				.label {
					text-transform: uppercase;
					font-size: toRem(18);
					font-weight: 500;
					text-align: center;
					flex-basis: 100%;
					color: var(--primary-dark) !important;
					padding-bottom: 12px;
				}
			}
		}
	
		> .link {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 33px;
		}
	}
}