header {
	position: relative;
	z-index: 777;
	
	.row-news {
		background-color: var(--primary-gesac);
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.open {
			align-items: flex-start;
			flex-wrap: wrap;

			&::after {
				position: absolute;
				right: 0;
				transform: rotate(-180deg);
			}

			.marquee.news {
				white-space: initial !important;
				position: relative;

				.marquee--inner {
					padding: 0 28px 30px;
					animation: none;

					@include respond-to($max-tablet) {
						flex-wrap: wrap;
						width: 107%;
					}

					span, p {
						@include respond-to($max-tablet) {
							padding: 0;
							flex-basis: 100%;
						}
					}
				}
			}
		}

		&::after {
			@include respond-to($max-tablet) {
				content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='#{url-friendly-colour($white)}'/%3E%3C/svg%3E");
				margin-left: 15px;
				background-image: linear-gradient(90deg,rgba(1,17,44,0) 0%, var(--primary-gesac) 30%);
				z-index: 99;
				padding: 20px;
			}
		}

		.title {
			text-transform: uppercase;
			font-weight: 500;
			padding: 20px 30px;
			background-color: var(--primary-gesac);
			position: relative;
			z-index: 99;

			@include respond-to($max-mini-desktop) {
				font-size: toRem(14);
			}
		}

		.marquee.news {
			display: flex;
			position: relative;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 300;
			width: 90%;
			user-select: none;
  			gap: var(--gap);

			@include respond-to($mini-desktop) {
				font-size: toRem(14);
			}

			.marquee--inner {
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: space-around;
				gap: var(--gap);
				min-width: 100%;


				animation: scroll-x var(--duration) linear infinite;

				&:hover {
					animation-play-state: paused;
				}
			}

			span, p {
				padding: 20px;
				margin: 0;

				&:first-child {
					padding-left: 0 !important;
				}
			}

			a:any-link {
				color: white;
			}
		}
	}

	.row-main {
		display: flex;
		position: relative;

		&.sticky {
			.login-header-panel,
			.logged-header-panel {
				@include respond-to($max-tablet) {
					top: 60px;
				}
			}
		}

		.logo-wrap {
			background-color: var(--primary-gesac);
			flex-basis: 14%;
			text-align: center;

			@include respond-to($phone) {
				flex-basis: 35%;
			}

			@include respond-to($small-tablet) {
				flex-basis: 25%;
			}

			@include respond-to($tablet) {
				flex-basis: 35%;
			}

			@include respond-to($mini-desktop) {
				flex-basis: 14% !important;
			}

			img {
				padding: 19px 0;
				width: 70%;
				height: auto;

				@include respond-to($phone) {
					padding: 10px 0;
					width: 59%;
				}

				@include respond-to($tablet) {
					width: 49%;
				}

				@include respond-to($retina1) {
					width: auto;
					padding: 26px 0 0;
				}
			}
		}

		/* menù tab desktop only 
		 * details in menu.scss 
		 */
		#primary-menu-tab {
			flex-basis: 70%;

			@include respond-to($max-tablet) {
				display: none;
			}

			@include respond-to($mini-desktop) {
				flex-basis: 80%;
			}
		}

		.menu-icons {
			flex-basis: 16%;
			background-color: var(--primary-dark);

			@include respond-to($phone) {
				flex-basis: 65%;
				align-items: center;
				display: flex;
				justify-content: space-between;
			}

			@include respond-to($mid-tablet) {
				flex-basis: 75%;
				align-items: center;
				display: flex;
				justify-content: space-between;
			}

			@include respond-to($mini-desktop) {
				flex-basis: 18%;
				flex-wrap: wrap;
			}

			.row-lang {
				display: flex;
				padding: 13px 30px;

				@include respond-to($max-tablet) {
					display: none;
				}
			}

			.icons {
				text-decoration: none;
				position: relative;
				display: flex;
				justify-content: space-around;
				padding: betterClamp(14,30) betterClamp(17,35);
				width: 100%;
				align-items: center;

				@include respond-to($max-tablet) {
					height: 100%;
				}

				.login-header-panel-wrap,
				.logged-header-panel-wrap {
					position: absolute;
					z-index: 100;

					@include respond-to($max-tablet) {
						backdrop-filter: blur(15px);
						-webkit-backdrop-filter: blur(15px);
						width: 100vw;
						top: 100%;
						height: 100vh;
						right: 0;
					}

					@include respond-to($mini-desktop) {
						top: calc(100% + 2px) !important;
					}

					@include respond-to($min-tablet) {
						top: calc(100% + 4px);
						right: 10px;
					}
				}

				.login-header-panel {
					// position: absolute;
					// z-index: 100;
					// top: 69px;
					background-color: rgba(1, 17, 44, 90%);
					color: white;
					font-size: toRem(12);
					// right: 50px;
					border-radius: 0 0 12px 12px;
					width: 315px;
					padding: 10px 30px 30px;
					margin-top: -21px;
					text-align: center;
					backdrop-filter: blur(7px);
					-webkit-backdrop-filter: blur(7px);

					@include respond-to($small-phone) {
    					top: 56px !important;
					}

					@include respond-to($phone) {
						right: 1% !important;
    					top: 65px !important;
						margin-top: 0 !important;
					}

					@include respond-to($max-tablet) {
						right: 8%;
						top: 95px;
						margin: -21px auto;
					}

					@include respond-to($mini-desktop) {
						right: 0;
						top: 55px;
					}

					p {
						font-size: toRem(22);
						text-align: left;
						padding-right: 19%;
						line-height: 27.9px;
					}

					form#login {
						input {
							border: 0;
							width: 100%;
							padding: 16px 12px;
							border-radius: 6px;
							margin-bottom: 12px;
							font-family: inherit;
							font-size: toRem(14);

							&:not(.submit) {
								background-color: rgba(12,153,193,30%);
								color: var(--secondary);
							}

							&.submit {
								background-color: var(--secondary);
								color: var(--primary-dark);
								font-weight: 500;
							}
						}
					}

					.button.register:any-link {
						border: 2px solid var(--secondary);
						width: 100%;
						padding: 16px 12px;
						border-radius: 6px;
						margin-bottom: 12px;
						font-family: inherit;
						font-size: toRem(14);
						display: block;
						text-align: center;
						color: white;
						text-decoration: none;
					}

					.pass-recovery:any-link {
						display: block;
						color: white;
						text-decoration: none;
						text-align: left;
						margin: 25px 0;
					}

					.social-login {
						display: block;
						
						> a:any-link {
							padding: 21px 20px;
							margin-right: 0;
							width: 100%;
						}
					}
				}

				.logged-header-panel {
					// position: absolute;
					z-index: 100;
					top: calc(100% + 4px);
					color: white;
					font-size: toRem(17);
					right: 50px;
					border-radius: 0 0 12px 12px;
					width: 680px;
					display: flex;
					flex-wrap: wrap;

					@include respond-to($phone) {
						// right: 50% !important;
						// top: 65px !important;
						width: 315px;
						// transform: translateX(30%);
						overflow: auto;
						height: 85vh;
					}

					@include respond-to($max-tablet) {
						right: 6%;
						top: 100%;
						margin: auto;
					}

					@include respond-to($mini-desktop) {
						right: 0;
						top: calc(100% + 2px);
					}

					.col {
						flex-basis: 50%;

						@include respond-to($phone-plus) {
							flex-basis: 100%;
						}

						&.logged-resume {
							@include respond-to($phone-plus) {
								order: 2;
							}
						}

						&.logged-cta {
							@include respond-to($phone-plus) {
								order: 3;
								border-radius: 0;
							}
						}

						&.logged-logout {
							background-color: rgba(1, 17, 44, 90%);
							backdrop-filter: blur(7px);
							-webkit-backdrop-filter: blur(7px);
							padding: 0 30px;
							font-weight: 300 !important;
							border-bottom-right-radius: 12px;
							display: flex;
							align-items: center;

							@include respond-to($phone-plus) {
								order: 3;
								border-bottom-left-radius: 12px;
							}

							a:any-link {
								color: white;
								text-decoration: none;
								font-size: toRem(21);
							}
						}

						.general {
							background-color: var(--primary-gesac);
							padding: 8px 30px 30px;
							font-weight: 300 !important;
							height: 100%;
							display: flex;
							flex-wrap: wrap;
							align-content: space-between;

							.user {
								font-weight: 400;
								font-size: 22px;
							}

							ul {
								list-style: none;
								margin: 0;
								padding: 0;
								flex-basis: 100%;

								li {
									font-weight: 300;
									padding: 3px 0;
									display: flex;
									align-items: center;
									transition: all 0.4s ease;

									&::after {
										content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='#{url-friendly-colour($white)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L19 12L12 19' stroke='#{url-friendly-colour($white)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
										opacity: 0;
										transition: all 0.2s ease-in-out;
									}

									&:hover {
										&::after {
											opacity: 1;
											margin-left: 6px;
										}

										> a:any-link {
											color: white;
										}
									}

									a:any-link {
										color: rgba($color: #ffffff, $alpha: 0.5);
										text-decoration: none;
										font-size: toRem(18);
										transition: all 0.2s ease;
									}
								}
							}
						}
	
						.cta-services {
							background-color: white;
							border-bottom-left-radius: 12px;
							padding: 40px 30px;
							display: flex;

							.button.secondary {
								color: var(--primary-dark);
								width: 100%;
								text-align: center;
								font-size: 17px;
								font-weight: 500;
							}
						}
	
						.resume {
							background-color: rgba(1, 17, 44, 90%);
							backdrop-filter: blur(7px);
							-webkit-backdrop-filter: blur(7px);
							padding: 8px 30px 0;
							font-weight: 300 !important;
							height: 100%;

							span {
								width: 100%;
								display: block;
								margin: 13px 0 30px;
								font-size: toRem(23);
							}
						}
					}
				}

				> .global-search {
					@include respond-to($max-tablet) {
						display: none;
					}
				}

				.hamburger {
					@include respond-to($min-tablet) {
						display: none;
					}
				}

				#menu-mobile {
					/** details in menu.scss **/
					@include respond-to($min-tablet) {
						display: none !important;
					}
				}
			}
		}

		.lang {
			color: white;
			display: flex;
			align-items: center;

			&.current {
				margin-right: 20px;
			}

			&:not(.current) > .flag{
				filter: saturate(0%);
			}

			.label {
				padding-left: 10px;

				&::after {
					content: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.043 3.82849L8.477 0.875492L10 2.35349L5.061 7.21349L0 2.33949L1.6 0.785492L5.043 3.82849Z' fill='%232D4F88'/%3E%3C/svg%3E");
					margin-left: 10px;
				}
			}

			img {
				width: auto;
			}
		}
	}
}
