/* global elements */
*  {
	box-sizing: border-box;
}

body, html {
	font-family: 'Euclid Circular B';
	margin: 0;
	overflow-x: hidden;
}

body {
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: var(--primary-dark);
	position: absolute;
	height: 100%;
	width: 100%;
}


/* global classes */

/**
 * Add the correct
 * display in IE 10-
 */

 [hidden] {
	display: none;
}

.hidden {
	display: none !important;
}

.mobile-hidden {
	@include respond-to($phone) {
		display: none !important;
	}
}

.center-content {
	width: 70%;
	margin: 32px auto;
}

.color {
	&-primary {
		color: var(--primary-dark);
	}

	&-gesac {
		color: var(--primary-gesac);
	}

	&-secondary {
		color: var(--secondary);
	}
}

.row {
	display: flex;

	&.center-content {
		justify-content: center;
	}

	&.between-content {
		justify-content: space-between;
	}

	&.around-content {
		justify-content: space-around;
	}

	&.end-content {
		justify-content: flex-end;
	}

	&.wrap {
		flex-wrap: wrap;

		&.--half {
			.col {
				flex-basis: calc(95% / 2);
			}
		}

		&.--third {
			.col {
				flex-basis: calc(95% / 3);
			}
		}

		&.--fourth {
			.col {
				flex-basis: calc(95% / 4);
			}
		}

		&.--fifth {
			.col {
				flex-basis: calc(95% / 5);
			}
		}

		&.--sixth {
			.col {
				flex-basis: calc(95% / 6);
			}
		}
	}
}

.vw-regular {
	padding: 60px 9.5%;

	@include respond-to($phone-plus) {
		padding: 60px 15px;
	}
}

.vw-narrow {
	justify-content: space-evenly;
}

.mobile-only {
	@include respond-to($not-mobile) {
		display: none !important;
	}
}

.no-mobile {
	@include respond-to($phone) {
		display: none !important;
	}
}

/** global elements **/

.line-divider {
	height: 1px;
	background-color: #E1E1E1;
	margin-top: 25px;
}

/** social login **/

.social-login {
	display: flex;

	@include respond-to($phone-plus) {
		flex-wrap: wrap;
	}

	> a:any-link {
		display: block;
		background-color: white;
		border-radius: 6px;
		text-decoration: none;
		color: var(--primary-dark);
		text-align: left;
		font-size: toRem(14);
		padding: 21px 20px 13px;
		margin-top: 12px;
		margin-right: 10px;

		@include respond-to($phone-plus) {
			width: 100%;
		}

		i {
			float: left;
			transform: translate(-10%, -20%);
			margin-right: 8px;
		}

		.google-icon {
			content: url("../../img/header/Google.svg");
		}

		.facebook-icon {
			content: url("../../img/header/Facebook.svg");
		}

		.instagram-icon {
			content: url("../../img/header/Instagram.svg");
		}
	}
}

/** special items with icons **/

.item-icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.img-wrap {
		background-color: var(--light-blue);
		padding: 30px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 145px;

		@include respond-to($mini-desktop) {
			min-width: 145px;
			min-height: 100px;
		}

		@include respond-to($min-desktop) {
			min-width: 150px;
			min-height: 150px;
		}

		img {
			width: 100%;
			max-height: 75px;
		}
	}

	.title {
		font-weight: 500;
		flex-basis: 100%;
		text-align: center;
	}
}

/** ordered lists **/

ol {
	padding-left: 20px;

	li {
		padding: 7px 0;

		&::marker {
			color: var(--secondary);
		}

		> div {
			display: flex;
			align-items: center;
			margin-top: 5px;

			img {
				max-height: 40px;

				@include respond-to($phone) {
					max-height: 33px;
				}

				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
}