/* global elements */
*  {
	box-sizing: border-box;
}

body, html {
	font-family: 'Euclid Circular B';
	margin: 0;
	overflow-x: hidden;
}

body {
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: var(--primary-dark);
	position: absolute;
	height: 100%;
	width: 100%;
}

/* keyframes */

// Vertical slidee for 2 items
@keyframes vertical-slidee-2 {
	15% {
		transform: translate(0, 0);
	}
	25%, 50% {
	  transform: translate(0, -25px);
	}
	55%, 100% {
		transform: translate(0, -45px);
	}
}

// Vertical slidee for 3 items
@keyframes vertical-slidee-3 {
	15% {
	  transform: translate(0, 0);
	}
	25%, 40% {
		transform: translate(0, -25px);
	}
	55%, 70% {
		transform: translate(0, -45px);
	}
	75%, 100% {
		transform: translate(0, -65px);
	}
}

// Vertical slidee for 4 items
@keyframes vertical-slidee-4 {
	15% {
		transform: translate(0, 0);
	}
	25%, 40% {
	  transform: translate(0, -25px);
	}
	45%, 60% {
		transform: translate(0, -45px);
	}
	65%, 80% {
		transform: translate(0, -65px);
	}
	85%, 100% {
		transform: translate(0, -85px);
	}
}

@keyframes scroll-x {
	from {
	  transform: translateX(var(--scroll-start));
	}
	to {
	  transform: translateX(var(--scroll-end));
	}
}


/* global classes */

/**
 * Add the correct
 * display in IE 10-
 */

 [hidden] {
	display: none;
}

.hidden {
	display: none !important;
}

.mobile-hidden {
	@include respond-to($phone) {
		display: none !important;
	}
}

.mobile-only {
	@include respond-to($not-mobile2) {
		display: none !important;
	}
}

.no-mobile {
	@include respond-to($phone) {
		display: none !important;
	}
}

.sticky {
	position: fixed !important;
	top: 0 !important;
	width: 100%
}

.sticky + section {
	padding-top: 50px;
}

.center-content {
	width: 70%;
	margin: 32px auto;
}

.color {
	&-primary {
		color: var(--primary-dark);
	}

	&-gesac {
		color: var(--primary-gesac);
	}

	&-secondary {
		color: var(--secondary);
	}
}

.row {
	display: flex;

	&.center-content {
		justify-content: center;
	}

	&.between-content {
		justify-content: space-between;
	}

	&.around-content {
		justify-content: space-around;
	}

	&.end-content {
		justify-content: flex-end;
	}

	&.wrap {
		flex-wrap: wrap;

		&.--half {
			.col {
				flex-basis: calc(95% / 2);
			}
		}

		&.--third {
			.col {
				flex-basis: calc(95% / 3);
			}
		}

		&.--fourth {
			.col {
				flex-basis: calc(95% / 4);
			}
		}

		&.--fifth {
			.col {
				flex-basis: calc(95% / 5);
			}
		}

		&.--sixth {
			.col {
				flex-basis: calc(95% / 6);
			}
		}
	}
}

.vw-regular {
	padding: 60px 9.5%;

	@include respond-to($phone-plus) {
		padding: 60px 15px;
	}
}

.vw-narrow {
	justify-content: space-evenly;
}

.relative {
	position: relative;
}

/** global elements **/

.line-divider {
	height: 1px;
	background-color: #E1E1E1;
	margin-top: 25px;
}

/** social login **/

.social-login {
	display: flex;

	@include respond-to($phone-plus) {
		flex-wrap: wrap;
	}

	> a:any-link {
		display: block;
		background-color: white;
		border-radius: 6px;
		text-decoration: none;
		color: var(--primary-dark);
		text-align: left;
		font-size: toRem(14);
		padding: 21px 20px 13px;
		margin-top: 12px;
		margin-right: 10px;

		@include respond-to($phone-plus) {
			width: 100%;
		}

		i {
			float: left;
			transform: translate(-10%, -20%);
			margin-right: 8px;
		}

		.google-icon {
			content: url("../../img/header/Google.svg");
		}

		.facebook-icon {
			content: url("../../img/header/Facebook.svg");
		}

		.instagram-icon {
			content: url("../../img/header/Instagram.svg");
		}
	}
}

/** special items with icons **/

.item-icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.img-wrap {
		background-color: var(--light-blue);
		padding: 30px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 145px;

		@include respond-to($mini-desktop) {
			min-width: 145px;
			min-height: 100px;
		}

		@include respond-to($min-desktop) {
			min-width: 150px;
			min-height: 150px;
		}

		img {
			width: 100%;
			max-height: 75px;
		}
	}

	.title {
		font-weight: 500;
		flex-basis: 100%;
		text-align: center;
	}
}

/** ordered lists **/

ol {
	padding-left: 20px;

	li {
		padding: 7px 0;

		&::marker {
			color: var(--secondary);
		}

		> div {
			display: flex;
			align-items: center;
			margin-top: 5px;

			img {
				max-height: 40px;

				@include respond-to($phone) {
					max-height: 33px;
				}

				&:first-child {
					margin-right: 15px;
				}
			}
		}
	}
}

/** hero footer items, global element 
 *	- Homepage
 *	- Partenze / Arrivi
**/

#footer-items {
	display: flex;
	padding: 0 30px;
	justify-content: space-between;

	@include respond-to($phone) {
		background-color: white;
		padding-top: 3em;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	@include respond-to($mid-tablet) {
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-top: 3em;
	}

	.col {
		flex-basis: calc(90% / 4);
		display: flex;
		align-items: center;
		padding: 24px 10px;

		@include respond-to($phone) {
			flex-wrap: wrap;
			justify-content: center;
			flex-basis: calc(90% / 2);
		}

		@include respond-to($mid-tablet) {
			flex-basis: calc(90% / 2);
			margin-bottom: 16px;
		}

		@include respond-to($mini-desktop) {
			min-width: 200px;
		}

		@include respond-to($not-mobile2) {
			background-color: rgba(1,17,44,18%);
			border: 1px solid rgba(255, 255, 255, 9%);
			color: rgba(255, 255, 255, 50%);
			border-radius: $radius;
			min-width: 300px;
		}

		&:after {
			@include respond-to($min-tablet) {
				content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1123_6093)'%3E%3Cpath opacity='0.09' d='M24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12Z' fill='#{url-friendly-colour($white)}'/%3E%3Cpath d='M14.8309 12.3072C14.876 12.2697 14.9123 12.2227 14.9372 12.1696C14.9622 12.1164 14.9751 12.0584 14.9751 11.9997C14.9751 11.9411 14.9622 11.8831 14.9372 11.8299C14.9123 11.7768 14.876 11.7298 14.8309 11.6922L11.0559 8.54725C10.9975 8.49862 10.9265 8.46762 10.8511 8.45789C10.7758 8.44816 10.6992 8.4601 10.6304 8.49231C10.5615 8.52452 10.5033 8.57566 10.4625 8.63976C10.4217 8.70386 10.4 8.77826 10.3999 8.85425V15.1462C10.4 15.2222 10.4217 15.2966 10.4625 15.3607C10.5033 15.4248 10.5615 15.476 10.6304 15.5082C10.6992 15.5404 10.7758 15.5523 10.8511 15.5426C10.9265 15.5329 10.9975 15.5019 11.0559 15.4532L14.8309 12.3072Z' fill='#{url-friendly-colour($white)}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1123_6093'%3E%3Crect width='24' height='24' fill='#{url-friendly-colour($white)}'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			}
		}

		&:any-link {
			text-decoration: none;
		}

		&:not(.solid) {
			@include respond-to($not-mobile2) {
				backdrop-filter: blur(30px);
				-webkit-backdrop-filter: blur(30px);
			}
		}

		.icon-circle {
			justify-content: center;

			@include respond-to($phone) {
				margin: 0;
				padding: 24px;
				background-color: rgba(1,17,44,0.2);
				width: 85px;
				height: 85px;
			}

			> i {
				@include respond-to($phone) {
					width: 37px !important;
					margin: 0;
				}
			}
		}

		p.content {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			flex-basis: 100%;

			@include respond-to($phone) {
				font-weight: 500;
				margin-top: 24px;
				width: 100%;
				justify-content: center;
				text-align: center;
			}

			.title {
				@include respond-to($min-phone) {
					color: white;
					font-size: toRem(18);
					width: 100%;
				}
			}

			.description {
				@include respond-to($phone) {
					display: none;
				}
			}
		}
	}
}

/** Slider cards, global element 
 *	- Partenze / Arrivi
 *	- Negozi / Ristoranti
**/

.slider-cards {
	width: 80%;
	margin: auto;

	@include respond-to($max-tablet) {
		width: 95%;
	}

	@include respond-to($mini-desktop) {
		width: 90%;
	}

	.slick-slide {
		display: flex;
		justify-content: center;
		margin: 0 25px;
	}

	.card {
		display: flex;
		flex-wrap: wrap;

		.img {
			flex-basis: 100%;
			height: 225px;
			background-size: cover;
			background-position: center;
			border-radius: $radius $radius 0 0;
		}

		.cont {
			background-color: var(--light-gray);
			border-radius: 0 0 $radius $radius;
			padding: 20px;
			flex-basis: 100%;

			h3 {
				font-size: toRem(26);
				font-weight: 500;
				margin-top: 0;
			}

			.meta {
				display: flex;
				justify-content: flex-end;
				margin-top: 35px;

				.link:any-link {
					color: var(--primary-dark);
					text-decoration: none;
					font-size: toRem(14);
				}
			}

			p {
				overflow: auto;
				max-height: 83px;
			}
		}
	}
}

.popup {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	z-index: 999;
}

#ui-datepicker-div {
	z-index: 99 !important;
}