$dir: "/assets/fonts/";
$euclid: "EuclidCircularB";

@include fface('#{$dir}#{$euclid}', 'Euclid Circular B', '-Light', 300);
@include fface('#{$dir}#{$euclid}', 'Euclid Circular B', '-Regular', 400);
@include fface('#{$dir}#{$euclid}', 'Euclid Circular B', '-Medium', 500);

h1 {
	font-size: toRem(50);
	font-weight: 500;

	&.hero-title {
		font-size: betterClamp(56,70);
	}

	&.page-title {
		color: var(--primary-dark);
		margin-top: 19px;

		@include respond-to($max-tablet) {
			color: white;
			font-size: toRem(40);
		}
	}
}

h2 {
	font-size: toRem(40);
	text-align: center;
	font-weight: 500;
	margin-top: 0;

	@include respond-to($phone) {
		font-size: toRem(30);
	}

	@include respond-to($mid-tablet) {
		font-size: toRem(35);
		margin: 32px auto;
	}

	&.section-title {
		margin: 128px auto;

		@include respond-to($phone) {
			margin: 32px auto;
		}
	}
}

.cta-link {
	width: 100%;
	text-align: center;
	color: var(--secondary);
	display: block;

	@include respond-to($phone) {
		font-size: toRem(24);
	}
}

a.link {
	&:any-link {
		color: var(--secondary);
	}

	&.arrow {

		&-primary {
			&::after {
				content: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82913 4.957L0.876133 1.523L2.35413 0L7.21413 4.939L2.34013 10L0.786133 8.4L3.82913 4.957Z' fill='#{url-friendly-colour($primary-dark)}'/%3E%3C/svg%3E ");
				margin-left: 10px;
			}
		}

		&-secondary {
			&::after {
				content: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82913 4.957L0.876133 1.523L2.35413 0L7.21413 4.939L2.34013 10L0.786133 8.4L3.82913 4.957Z' fill='#{url-friendly-colour($secondary)}'/%3E%3C/svg%3E ");
				margin-left: 10px;
			}
		}

		&-white {
			&::after {
				content: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82913 4.957L0.876133 1.523L2.35413 0L7.21413 4.939L2.34013 10L0.786133 8.4L3.82913 4.957Z' fill='#{url-friendly-colour($white)}'/%3E%3C/svg%3E ");
				margin-left: 10px;
			}
		}
	}
}