/** colors **/
:root {
    --primary-dark: #01112C;
    --primary-gesac: #024994;
    --secondary: #0C99C1;
	--light-blue: #F8FAFF;
	--light-gray: #F3F3F3;
	--medium-gray: #E1E1E1;
	--yellow: #FBB808;
	--red: #F62F03;
	--orange: #FFA903;
	--green: #09D72A;

	--status-standard: #024994;
	--status-executive: #E38763;
	--status-privilege: #25C8B3;

	--marquee-elements-displayed: 20;
	// --size: clamp(10rem, 1rem + 40vmin, 30rem);
	--size: clamp(5rem, 1rem + 30vmin, 15rem);
	--gap: calc(var(--size) / 20);
	--duration: 30s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));

	touch-action: pan-x pan-y;
  	height: 100% 
}

$primary-dark: #01112C;
$primary-gesac: #024994;
$secondary: #0C99C1;
$light-blue: #F8FAFF;
$light-gray: #F3F3F3;
$medium-gray: #E1E1E1;
$yellow: #FBB808;
$white: #FFFFFF;
$red: #F62F03;
$orange: #FFA903;
$green: #09D72A;

$status-standard: #024994;
$status-executive: #E38763;
$status-privilege: #25C8B3;

$arrow-color: $primary-dark;
$icon-color: #0C99C1;

$radius: 12px;