/** colors **/
:root {
    --primary-dark: #01112C;
    --primary-gesac: #024994;
    --secondary: #0C99C1;
	--light-blue: #F8FAFF;
	--light-gray: #F3F3F3;
	--medium-gray: #E1E1E1;
	--yellow: #FBB808;

	--status-standard: #024994;
	--status-executive: #E38763;
	--status-privilege: #25C8B3;

	touch-action: pan-x pan-y;
  	height: 100% 
}

$primary-dark: #01112C;
$primary-gesac: #024994;
$secondary: #0C99C1;
$light-blue: #F8FAFF;
$light-gray: #F3F3F3;
$medium-gray: #E1E1E1;
$yellow: #FBB808;
$white: #FFFFFF;

$status-standard: #024994;
$status-executive: #E38763;
$status-privilege: #25C8B3;

$radius: 12px;